[2019-08-23 21:01] milen-sage opened #1 "List accessible projects based on synapse login and corresponding HTAN team(s)"
Create a dropdown in the Shiny app; call corresponding backend functions.

[2019-08-23 21:01] milen-sage opened #2 "Metadata upload"
Allow input of metadata associated with a specific dataset (on Synapse); expose manifest generation services from the backend.

Showcase kind and amount of effort associated with filling in metadata for various datasets (including HTAPP pilot datasets).

[2019-08-23 21:09] milen-sage opened #3 "List the folder names ("datasets") based on selected accessible project"
Dropdown in Shiny UI.

[2019-08-23 21:12] milen-sage opened #4 "List file names within a selected dataset/folder in generated manifest"
The functionality is in the backend (see test script https://github.com/milen-sage/HTAN-data-pipeline/blob/dev/storage_test_driver.py).

The function returns filenames and synIDs, so that should get us going with pre-populating a manifest. I switched to using set_annotations instead of synapse sync (I'll leave some comments in the related task for manifest template) - basically we only need a colu

[2019-08-23 21:15] milen-sage opened #5 "Upload anad associate metadata to files in a given dataset/folder on Synapse"
Add a button allowing metadata upload to Synapse, once the metadata has been validated.

[2019-08-23 21:19] milen-sage opened #6 "Provide indication of metadata upload to Synapse"
Once a user has clicked the button to upload validated metadata to Synapse they should see some form of status indicator (even it is just a moving wheel/progress bar with text "Please wait for metadata upload to finish..." indicating something is going on until the upload is finished when they can get a link to their manifest and/or upload confirmation message - in green :) )

[2019-08-23 21:21] milen-sage opened #7 "Update existing manifest"
Build UI elements allowing the update of existing manifest (e.g. prepopulated google sheet).
Perhaps the user can see a list of datasets for which they have submitted metadata, can click on one of them getting a prepoluated manifest?

[2019-08-23 21:25] milen-sage opened #8 "Metadata validation button"
Upon uploading a metadata manifest the data contributor user can click a Validation button that calls metadata backend validation service.

[2019-08-23 21:25] milen-sage opened #9 "Metadata validation UI"
Provide simple UI mechanism to validate filled in metadata manifest.

Quick communication turnaround with data contributors - whereby they can fix metadata errors by themselves (instead of waiting on DCC to contact them requesting corrections).

[2019-08-23 21:27] #8 closed, assigned to xdoan

[2019-08-23 21:29] milen-sage opened #10 "Handling metadata validation messages"
Display metadata validation messages in a user-friendly format

- [x] formatted text (suggestion red if error; green if correct)
- [x] DataTable formatted cells highlighting where the errors occurred in the metadata manifest

[2019-08-23 21:29] #10 closed, assigned to xdoan

[2019-08-23 21:31] milen-sage opened #11 "Handle lazy-validation errors"
Currently validation returns errors in metadata from a single column. The backend will change allowing for lazy validation: returning all errors in a metadata manifest. We may need to adjust error handling correspondingly when ready.

[2019-08-23 21:37] milen-sage opened #12 "Dataset dashboard"
A list of datasets a data contributor user has access to (on Synapse) containing various dataset summaries (e.g. annotation completion progress; number of files in dataset; link to manifest - existing if annotation has started already or empty if they just begin the annotation; perhaps could incorporate QC status and data use agreement indication).

Would allow data contributors a quick view of th

[2019-08-23 21:38] milen-sage opened #13 "Display a list of dataset names"
Each dataset could be a link to the corresponding synapse folder.

[2019-08-23 21:42] milen-sage opened #14 "Display annotation progress for each dataset"
Think through a metric for annotation completion; map the metric to badges for each dataset completion level? Is there a maturity model for dataset annotations?

[2019-08-23 21:43] milen-sage opened #15 "Display summary stats for each dataset"
Simplest ones could be number of files and kind of assay?
We can brainstorm what to include.

[2019-08-23 21:49] milen-sage opened #16 "Communication features"
High priority feature: this would greatly improve speed and quality of curation by allowing metadata contributors raising concerns, difficulties, suggestions directly during metadata completion, pointing at a particular annotation item, having a default contact person on each comment thread. The lower the energy barrier for communication the better - hence google doc comment style feedback would b

[2019-08-23 21:51] milen-sage opened #17 "Research google API programmatic control of comments for google sheets"
Can we create google doc comments at a cell resolution in a google sheet?

[2019-08-23 21:53] milen-sage opened #18 "Provide examples of comments in sheets for use-case evaluation"
We have recently experimented with comment threads (manually added) to google sheet annotation templates. Will bring up at upcoming meetings to start evaluating benefit/effort trade-off.

[2019-08-23 22:00] milen-sage opened #20 "Iron out authentication behind Synapse"
User need to be able to login to Synapse (e.g. using their associate google account) and access the Shiny app. The Shiny app would need to pass credentials to the backend in a robust way (e.g. API keys?) so that the remaining curation workflow can proceed properly (and the user sees what they have access to).

[2019-09-10 22:15] #20 closed, assigned to xdoan

[2019-09-10 22:37] xdoan opened #21 "Test manifest upload"
Double check if the file you upload into the HTAN Uploader "Upload Annotated Metadata as a csv" is the file that is modified on Synapse. https://www.synapse.org/#!Wiki:syn20681266/ENTITY

To keep the name of the file on Shiny, I have to copy it and save it to tmp/ and I upload that file to Synapse. I want to make sure it is uploading the new file and not the one in tmp/.

[2019-09-13 20:53] milen-sage opened #22 "Finalize UI elements text"
Review and polish text related to various buttons, dropdowns, tabs, etc., so that we can use a v0 stable UI for screenshots related to initial HTAN landing page documentation that @jcorn427 will be working on.

We can also work a bit on style w/o going crazy.

[2019-09-24 22:27] xdoan opened #23 "add error when wrong schema is uploaded"
show error during validation when columns don't match the new schema (e.g. upload an old schema)

[2019-09-24 22:52] xdoan opened #24 "get manifest with new files and previously uploaded metadata"
and create a new button for it

[2019-09-24 22:59] xdoan opened #25 "add entityId column to metadata"

[2019-09-27 22:13] milen-sage opened #27 "Setup a production and dev server environments"
We want to have server environments for DataCurator on Synapse:
- one environment for the DataCurator app that reflects the dev versions of the backend and the shiny app
- one environment for the DataCurator app that reflects the release (master) versions of the backend and the shiny app

[2019-09-27 22:31] xdoan opened #28 "show processing for button"
maybe stop them from repressing the button

"generate"

[2019-09-27 23:21] xdoan opened #29 "no csv error for validate button"
only appears after you upload a csv, or gives you an error

[2019-09-30 22:29] #28 closed, assigned to xdoan

[2019-09-30 22:31] xdoan opened #30 "Warning for valid metadata that doesn't match entity IDs in a selected project/dataset"
1) error for uploaded manifest that isn't for the selected project (i.e. there are filenames/synapse IDs in the manifest that do not match the filenames/synapse IDs in the selected project).

[2019-10-03 20:48] milen-sage opened #31 "Clear existing google sheet links when clicking on Get Metadata Template tab"
Currently the last generated google sheet link is preserved even if there are changes in the 'Select your Dataset' tab, so you have to press the button to generate a new link (which is only slightly different from the link already there; and the link already there actually is not relevant anymore).

[2019-10-03 20:52] milen-sage opened #32 "Make status popup a bit more visible"
Currently when you click on a button, the associated status popup is grey-ish and in the lower right corner. Let's make the popup along with the text a bit bigger and the color a bit less neutral (a pale orange or green background - something that catches the eye a bit more?)

[2019-10-03 20:59] milen-sage opened #33 "Feedback page and links"
Let's have a link/button to a feedback page containing a text field (along with email link) that allows people to send us a messages (e.g. email) as an initial communication channel.  We can place that link at the bottom right of the page for each tab.

Related to #16 .

[2019-10-07 22:49] #25 closed, assigned to xdoan

[2019-10-07 22:49] #22 closed, assigned to xdoan, milen-sage

[2019-10-07 22:50] #7 closed, assigned to xdoan

[2019-10-08 02:19] #6 closed, assigned to xdoan

[2019-10-08 02:19] #5 closed, assigned to xdoan

[2019-10-08 02:19] #4 closed, assigned to xdoan

[2019-10-08 02:20] #3 closed, assigned to xdoan

[2019-10-08 02:20] #1 closed, assigned to xdoan

[2019-10-08 23:00] xdoan opened #35 "refactor/cleanup code"
functions, comments, etc

[2019-10-08 23:01] xdoan opened #36 "update local vers with backend updates"

[2019-10-08 23:17] #27 closed, assigned to xdoan

[2019-10-10 20:25] xdoan opened #39 "show selected projects etc on sidebar"
Sidebar is only one option - there are others potential solutions.
We need to explore them for a more streamlined interface.

[2019-10-10 21:17] xdoan opened #40 "clear all inputs/outputs when submit is successful"

[2019-10-29 22:17] #40 closed, assigned to xdoan

[2019-10-29 22:47] #17 closed, assigned to milen-sage

[2019-10-29 22:51] #18 closed, assigned to milen-sage

[2019-10-29 23:33] milen-sage opened #43 "Stress test app and check if we run into permission problems when multiple users are on the same process(?)"
When more than two users are sharing a Shiny app process @kdaily and @karawoo reported a bug where one user may try to work with resources associated with the other user (for which the former wouldn't have access; e.g. file handlers).

Let's try testing the app with multiple users and sessions. Hopefully reticulate will prove to be a workaround.

[2019-10-31 23:30] #43 closed, assigned to xdoan, milen-sage

[2019-11-22 22:53] milen-sage opened #46 "Add "save progress" button"
Add a button allowing metadata contributors to upload not yet complete metadata to Synapse.

The intent should be very clearly specified so that metadata contributors do not assume their metadata has been submitted and validated fully by going through this option.

Saved metadata should be reflected in data submission progress dashboard.

@xdoan, perhaps we can discuss if there are any additional

[2019-11-23 00:26] milen-sage opened #47 "Test issue"

[2019-11-23 00:28] #47 closed, assigned to nobody

[2019-11-24 23:32] milen-sage opened #49 "Shiny curation UI prototype"
Work items related to curation UI prototype; aka Data Curator.

- #170
- #171

[2019-11-24 23:35] #35 closed, assigned to xdoan

[2019-11-24 23:36] #32 closed, assigned to xdoan

[2019-11-24 23:50] #21 closed, assigned to vthorsson, xdoan, milen-sage

[2020-01-21 23:07] xdoan opened #53 "look into shiny y/n question non-hardcoded iterations"

[2020-04-08 21:42] xdoan opened #54 "Research dccvalidator/monitor"
figure out how much work it would be to reuse dccvalidator/monitor stuff for HTAN

[2020-04-09 16:49] #24 closed, assigned to xdoan

[2020-04-20 22:56] milen-sage opened #56 "Test workflows in data curator app"
- [x] 1. *starting from scratch with clinical data*:
---- do we create the correct table and objects with the correct annotations when a manifest is submitted
- [x] 2. *starting from scratch with assay data*
---- do we create the correct table and files with the correct annotations when a manifest is submitted
- [x] 3. *updating existing manifest with clinical data*
---- do we end up with the corr

[2020-04-21 18:44] #56 closed, assigned to xdoan

[2020-05-20 17:22] milen-sage commented on #11
Looks like this works #60  - closing for now.

[2020-05-20 17:22] #11 closed

[2020-05-20 17:41] milen-sage commented on #23
Looks like this works! We can test more with other users, but we can close for now.

[2020-05-20 17:41] #23 closed

[2020-05-20 17:50] xdoan opened #61 "Error handle mismatch in selected vs submitted schema"
Better error output for mismatch in selected vs submitted  which results in "wrong schema" error upon validation.

Features (building on Milen's comment below):
- [ ] 1. logic when the contents of the validation function are "wrong schema", which would result in a error message such as "Error, the schema selected was "_templateType_" but the submitted schema is _submittedComponent_".
**edited to a

[2020-05-22 16:32] milen-sage opened #63 "Enable more descriptive text in templates dropdown"
Currently the templates dropdown is restricted to the schema node labels, which may not be the most human readable.

Let's enable more descriptive text for these dropdowns e.g.
- instead of FamilyHistory we can have Clinical Tier 1 - Family History
- instead of FollowUp we can have Clinical Tier 1 - FollowUp
...
- instead of ScRNA-seqAssay we can have scRNA-seq Level1 Assay

[2020-05-22 23:19] milen-sage opened #64 "Add border markup to google sheet resolve sheet export to excel"
If allowable in google sheet's API add border formatting markup explicitly and check if exports to excel and openoffice format show borders correctly. Currently borders in exported documents are not shown for all cells whose background colors has been specified in google sheet. See @vthorsson comment [here](https://github.com/Sage-Bionetworks/HTAN-coordination/issues/129#issuecomment-620220922); o

[2020-05-26 23:34] milen-sage opened #66 "Multi-template selection"
Allow users to indicate and generate multiple templates in a single selection (e.g. via checkboxes); the templates could be organized either in multiple links to the respective google sheets (each link labeled with the template type) or a single spreadsheet containing multiple tabs.

This would require a bit of restructuring on the front end; if we organize the templates in a single google sheet w

[2020-05-27 23:00] jaeddy opened #67 "Check out rhandsontable for manifest interface"
I came across this library the other day:
https://jrowen.github.io/rhandsontable

Might provide an alternative to Google Sheets (more cohesive UX) and could potentially be more customizable. I'm guessing this would be a fairly large refactor for both the front end and back end, so worth kicking the tires a bit to evaluate whether the change would be worth it.

[2020-06-03 16:51] milen-sage commented on #67
Thanks @jaeddy this is pretty good especially compared to other JS libraries for tables that I've looked at; and it's nice it already wraps 'via'. But perhaps we could view it as an additional interface aside from google sheets, not necessarily replacement for now.

W/in the general context of using spreadsheets as a GUI annotation interface (which I think is clunky/hacky not optimal for this task

[2020-06-06 00:13] xdoan opened #68 "Find Hardcoded Schema locations on Shiny"

[2020-06-06 00:26] xindiguo opened #69 "manifest google sheet names are different"
When there is an existing manifest for the dataset, the name contains "_". Otherwise, it does not. Also, do you want to consider adding the date as part of the file name? It might be useful for some people.

[2020-06-06 00:28] xindiguo opened #70 "Manifest preview is highlighting the entire column instead of the invalid cell"
Entire column was highlighted when one of the cells in the column is invalid.

[2020-06-11 21:54] xindiguo opened #71 "Show the selection of project, dataset, and template in the other two tabs"
When testing for metadata validation, the app was timed out and I realized I need to go to make the selection of dataset and template again after refresh the app. I wonder if it makes sense to show the selection of project, dataset, and template in the other two tabs as well to remind the user which dataset and template have been selected?

[2020-06-17 21:42] xdoan opened #73 "Add prev/next buttons to app"

[2020-06-19 18:35] #73 closed

[2020-06-19 20:12] #13 closed

[2020-06-19 20:15] xdoan commented on #69
I removed the "_". Would it be useful to @xindiguo to have the date? The name is already so long I am hesitant to add more.

[2020-06-19 20:16] xdoan commented on #71
thank you! related to #39 and we are hoping to use some iAtlas proposed work to also help here.

[2020-07-09 15:52] milen-sage commented on #61
When we try validating manifests that were submitted using a previous version of a schema we get the "wrong schema" error in addition to a message saying "An error has occurred. Check your logs or contact the app author for clarification." This isn't a situation that most people would encounter once the schemas are finalized (we mostly encounter it since we and others have been testing with schema

[2020-07-15 16:13] milen-sage commented on #69
You can provide the manifest title as a parameter to the backend. We could include a config var for the manifest - e.g. title_prefix/postfix in config.py that can just be set to date, date.today() - for Xindi's use case and doesn't conflict with others' title use cases?

[2020-07-15 16:28] xdoan commented on #69
Yeah its just a question if its useful or not, I don't think it would conflict and technically ppl can rename the file to whatever they want.

[2020-07-15 17:01] xdoan commented on #33
update landing page to have a link to the official docs, pop up of the instructions, and links to communication channels.

[2020-07-15 18:02] milen-sage commented on #33
Yes, this would be a nice addition! Eventually we can also link to the HTAN standards' definitions when we have the schema visualization/exploration server and app; we started discussing that in the data release/portal meeting so hopefully it will get some traction over the next few weeks.

[2020-07-22 15:45] milen-sage commented on #63
This seems good for now; we might revisit later, so that the app pulls the display name directly from the backend, when display name is more decoupled from the label.

[2020-07-22 15:46] #63 closed

[2020-07-22 15:49] #69 closed

[2020-09-15 20:51] allaway opened #84 "conda env does not build on mac"
The provided environment.yml file will not build on a mac (at least, not mine) because it lists linux specific dependencies.

Here's an environment that (to the best of my knowledge) will work for `schematic` but build on a mac:

[code]

[2020-09-15 21:55] allaway opened #85 "conda env does not build on mac"
The provided environment.yml file will not build on a mac (at least, not mine) because it lists linux specific dependencies.

Here's an environment that (to the best of my knowledge) will work for `schematic` but build on a mac:

[code]

[2020-09-15 21:58] allaway commented on #85
@milen-sage - no, no problem at all - i was just messing around locally and ran into this, and wanted to document how I worked around it instead of losing it ;)

iow - this is not a blocker for me, just wanted to drop a note

[2020-09-16 03:34] allaway commented on #68
Apologies if wrong issue, but here are some:
[code]

[2020-09-21 19:57] xdoan opened #88 "Add attribution/credits options to app"
suggested by @allaway to possibly add credits to data curator app(s) should have a nod to the fact that all this infrastructure is thanks to the htan grant + people and have a message such as `Supported by the Human Tumor Atlas Network (NCI grant number) Powered by Sage Bionetworks `

Possible implementations
- shinyDashboardPlus has a dashboardFooter
- sticky footer https://stackoverflow.com/ques

[2020-09-21 23:05] allaway commented on #88
A follow on idea would be to add in a configurable field (from config.yml) to allow each community to also mention the community-specific funders (since they are funding us to build the schemas ;) )

[2020-09-26 17:38] vpchung commented on #88
Just to follow up on this --
I added a footer to ROCC's version of Data Curator using the following code:

**app.R**
[code]

Looks like this:

<img width="600" alt="screenshot" src="https://user-images.githubusercontent.com/9377970/94346809-02091f00-ffe4-11ea-8a27-cd0d82c0a709.png">

Still learning Shiny so if there is a cleaner way of adding CSS, please edit as you please!

[2020-09-29 22:08] allaway opened #91 "add waiter screens"
`waiter` can make loading screens to prevent multiple button clicks and to give the user a little more in-their-face feedback about what is happening. it's also really nice looking and configurable!

[2020-10-06 15:43] milen-sage commented on #29
Just to clarify this is an error that's thrown if you press the validate button without uploading a csv before that.

[2020-10-06 21:07] xdoan opened #94 "add error if you are updating a manifest but don't have previously uploaded entityIDs"

[2020-10-06 21:09] #91 closed

[2020-10-06 21:09] xdoan commented on #91
added with #93

[2020-10-06 21:09] xdoan commented on #88
added with #90

[2020-10-06 21:09] #88 closed

[2020-10-09 20:22] allaway opened #95 "put loading gif on transparent background"
I think @vpchung made this: https://github.com/Sage-Bionetworks/HTAN_data_curator/blob/shiny-server-1.0.0.rc1/www/loading.gif

Any chance it could be placed on a transparent background so it's easier to use with other palettes?

Thanks!

[2020-10-09 22:40] vpchung commented on #95
I can look into it!

I remember there being a reason I didn't use a transparent background though (like it just didn't look right), but maybe there's another app I can use besides Animizer in that case.

[2020-10-13 20:22] milen-sage commented on #14
Need to aggregate all metadata across all manifests in a given projects in a single dataframe.

[2020-10-13 23:31] milen-sage commented on #54
I think this has mostly been completed. I need to go through dccmonitor results file, but it looks like until we have additional backend work on #12 before we can return and see if we can reuse any of the dccmonitor components.

[2020-10-13 23:31] #54 closed

[2020-10-14 20:58] allaway opened #96 "Retrieval of current annotations?"
I think that populating the manifest with valid annotations that exist on the file already (for keys that are in the manifest) could be useful in a few use cases:

1) user is annotating old files that may have partial/noncompliant annotations (this is our biggest use case at present)
2) user inadvertently annotates files via a different mechanism with some annotations such as syncToSynapse
3) user

[2020-10-14 20:59] allaway commented on #96
One note - perhaps "import current annotations" could be an option at the manifest generation stage, as I'm imagining this would increase the time to generate a manifest.

[2020-10-14 21:26] kthrog opened #97 "pre-populated annotations"
This feature would pre-populate some annotations based on existing information associated with the file.

Examples:

- If `filename` ends in .fast.qz, then set `fileFormat` to fastq
- Use location of files selected for annotation to populate `studyID`, `studyName`, and `fundingAgency`

It's possible this issue could have some overlap with what Robert just filed, #96.

[2020-10-15 21:59] milen-sage opened #98 "refresh button on app"
@xdoan commented on [Fri Jun 05 2020](https://github.com/Sage-Bionetworks/schematic/issues/228)

refresh button to update foldernames and file lists within the app without refreshing the page as @milen-sage pointed out.

[2020-10-16 19:28] vpchung commented on #95
Hm, doesn't look great......

![synapse_load](https://user-images.githubusercontent.com/9377970/96300809-0ef9ac80-0fab-11eb-9eb0-06496600ed76.gif)

[2020-10-16 19:31] vpchung commented on #95
Hmm, doesn't look great ):

![synapse_load](https://user-images.githubusercontent.com/9377970/96301058-7879bb00-0fab-11eb-802e-1517ce053523.gif)

source: [loading.io](https://loading.io/animation/icon/)

[2020-10-20 17:39] xdoan commented on #95
hahah maybe you can say that pixel art is making a comeback (I mean look at MIT's new logo) but @allaway what do you think for your use case?

[2020-10-20 17:50] allaway commented on #95
Hahaha. I feel like i've stepped back in time https://media3.giphy.com/media/Ve4nPkjRT5avBu0qRG/giphy.gif

Maybe a better solution would be for me to just make a gif using animizer with our background hex color! Can you share the source img you used?

[2020-10-20 17:50] #95 closed

[2020-10-21 20:00] BrunoGrandePhD opened #99 "Create a stable branch (for use in the Data Curator App setup documentation)"
Currently, the documentation refers to the `shiny-server-1.2.1.rc1` branch. However, in the final version of the documentation, we should refer to a primary stable branch. Based on conversation on @xdoan, this branch will be named `shiny-server-main`.

[2020-10-22 20:02] milen-sage commented on #64
@nithyav21 this is related to BU's request for exporting metadata templates to Excel.

I updated our backend and @xdoan is integrating and testing the changes that resolve Excel export.

As indicated in our thread with BU, we should have these enhanced excel export features ready for them to use tomorrow.

@nithyav21 the current solution to Excel's dropdown limit (~256 entries) is to truncate the

[2020-10-22 20:04] milen-sage commented on #64
@nithyav21 you can check how this spreadsheet exports to Excel:
https://docs.google.com/spreadsheets/d/1TDdJ8RCrG3l56pReA5KeMRCMCpG-v-qHvRzmCUVU1EE/edit?usp=sharing

I have tested in Excel on Mac OS X and it works for me (I have also tested with OpenOffice and that works as well).

[2020-10-22 20:24] nithyav21 commented on #64
Thanks @milen-sage
I'm able to download the sheet as excel but I'm not seeing anything in the dropdown for primary diagnosis, site of resection or biopsy and tissue or tumor of origin (these are the ones with a lot of enumerations). I'm able to see values in drop-downs for a few other fields. Not sure if the truncate to ~256 values is working for me, maybe I'm missing something.

[2020-10-23 00:24] milen-sage commented on #64
I see what you mean @nithyav21 - looking into it now.

[2020-10-23 00:49] milen-sage commented on #64
Thanks for the feedback @nithyav21 this all should be resolved now; a sample diagnosis template here:
https://docs.google.com/spreadsheets/d/1JAM-KLe5peC6XSS7gDwtIcQirm_in9W80nD4837tk7w/edit?usp=sharing

Please try exporting it^

[2020-10-23 15:17] nithyav21 commented on #64
@milen-sage - Yes, I can now see valid values in the column when I see valid values in the dropdown now for the fields mentioned above.

While we are at it, can we also add some Diagnosis attributes that I talked about to you earlier this week? (part of Tier 1 and updates to Tier1 (Mar 2020)). As I mentioned, these are some tumor specific suggestions from centers already covered in GDC Tier 1, so

[2020-10-24 01:02] milen-sage commented on #64
@nithyav21 - let's follow up with Karla regarding excel export - the functionality is in the data curator app now. They can test it out.

Meanwhile, yes, I'll update the clinical data as we discussed.

[2020-11-02 23:34] xdoan opened #100 "excel -> csv -> data curator loses columns"
somehow parsing with
[code]
when I go from excel to csv leads to:
[code]

which then doesn't go through validation because its missing columns

[2020-11-02 23:48] milen-sage commented on #100
Is excel -> csv programmatic (e.g. in  R) or through manual excel file -> export?

[2020-11-02 23:51] milen-sage commented on #100
If programmatic, have you tried the manual excel 'save as' csv feature to see if excel actually exports properly to csv (I'd assume it does)?

I'd be a bit weary of how R and excel interact depending on the various excel versions.

Does the behavior persist with when working with open office odf?

[2020-11-03 00:48] xdoan commented on #100
so it is a warning and the 47 columns get parsed correctly. What seems to happen is that excel converts all the empty rows into like ",,,,,,," for 8000+ rows and then those all get parsed in the code since it just reads in the raw file

[code]
(I ended up checking for a component for the preview so I don't show empty rows)

So when I run this in R I get this at the tail

[code]
@milen-sage can the

[2020-11-03 01:24] milen-sage commented on #100
Yes, we can skip empty rows.

MS never ceases to amaze me.

[2020-11-03 23:19] xdoan commented on #99
created and now the default branch

[2020-11-05 00:07] kthrog opened #102 "Show warning about invalid values (instead of rejecting input)"
In metadata template CSV, warn user about invalid value(s) instead of rejecting the invalid input. This would allow the user to override the warning and enter an invalid value.

_NF use case:_ our schema is always evolving, and we sometimes have new data types that are not yet represented in our schema. We want to allow our contributors to enter these values, even if they're invalid, if need be (a

[2020-11-05 00:16] allaway commented on #102
As a side note: for our use case, I think that it is sufficient to "warn" at the google sheets stage of data entry. I don't think that our use case requires any changes to validation in the app or schematic (e.g. if someone enters invalid metadata, it should still fail in the app the same way it does now, and only pass once we've assessed the new values and modified the underlying schema if approp

[2020-11-05 00:18] allaway commented on #102
Also, I think since `schematic` actually generates the google sheet this issue should probably get moved there

[2020-11-05 01:03] kthrog commented on #102
Good points, @allaway! Re: transfer to `schematic`, will do now.

[2020-11-05 21:35] BrunoGrandePhD commented on #99
Beautiful! Thanks, @xdoan! I'll update the setup docs accordingly!

[2020-11-05 21:35] #99 closed

[2020-12-04 18:12] #64 closed

[2020-12-08 20:33] xdoan opened #103 "docs link in start page"

[2020-12-16 18:11] milen-sage commented on #71
Is this the same as #39 ?

[2020-12-18 18:40] xdoan opened #104 "Consolidate validation errors across rows"
If there are many of the same validation error in consectutive rows, consider concatenating so it shows the range. This might show up oddly on the UI though, so it could be consolidated in a different way or addressed with a larger validation UI change.

[2021-01-05 23:55] milen-sage commented on #61
Right now it is not, but it's one line to add the validation target component type here:

https://github.com/Sage-Bionetworks/schematic/blob/ecf6fbdbfceb29268e3183ba9c09401b6454f531/schematic/models/metadata.py#L215
(it corresponds to the rootNode parameter in the method^).

In two lines, we can also return the component found in the annotations manifest (if the Component column is in the manifest

[2021-01-12 22:20] xdoan commented on #61
@milen-sage what do you mean by multiple return values? You could return an object or a list as nested as you want, just not a dictionary.

[2021-01-12 23:05] milen-sage commented on #61
multiple values in this sense https://note.nkmk.me/en/python-function-return-multiple-values/

we can just add the info to the list.

[2021-01-13 00:13] xdoan commented on #61
oh if its a tuple R has that as well

[2021-01-21 20:43] xdoan opened #106 "Error for uncertified user trying to submit metadata"

[2021-01-21 21:23] ychae commented on #106
@milen-sage I think there is a way to programmatically check if a user is certified (there's a REST call that looks promising: https://docs.synapse.org/rest/PUT/user/id/certificationStatus.html). I know some user status items are restricted to admins/governance folks only and this might be the case.

We can follow up with the Synapse team to see if there's a python call for it.

[2021-01-21 21:38] ychae commented on #106
From Jordan:

[code]

[2021-01-21 22:04] milen-sage commented on #106
oh nice! @sujaypatil96 and @xdoan where do you see this functionality live?

My first instinct is to
1. incorporate it as a check on schematic's side when calling the store.py associateMetadata... method
2. have the method return an error that can be displayed in a user friendly way on the front-end data curator app side

@BrunoGrandePhD this might be relevant when thinking about imCORE SOPs as we

[2021-01-21 23:01] ychae commented on #106
Function from @jaeddy :

[code]

[2021-01-22 04:29] ychae commented on #106
And a python version from @thomasyu888 located here: https://github.com/Sage-Bionetworks/challengeutils/pull/204/files

[2021-01-22 19:43] sujaypatil96 commented on #106
Thanks for sending the snippets above @ychae.

Yup, that makes sense @milen-sage. We should incorporate the check on `schematic` side, but instead of `associateMetadataWithFiles()` we should probably do it in the constructor itself? It's important that all users by Synapse-certified.

[2021-01-22 19:55] xdoan commented on #106
Yeah we might even be able to show it at the beginning landing page? like "! you are not certified"

[2021-01-25 20:30] xdoan commented on #106
Tom just submitted code for this feature in the Python client: https://github.com/Sage-Bionetworks/synapsePythonClient/pull/801/files

[2021-01-26 19:38] xdoan commented on #14
Some wanted features: and work that would have to be done to implement them:
1. Display validated and submitted manifests and unsubmitted but necessary manifests, possibly with complete/imcomplete or % completeness
This would require knowing a) what the minimum "completeness" for going public is, e.g. clinical, biospecimen to show on legends when they are blank, b) having the HTAN IDs check so tha

[2021-01-26 22:06] milen-sage commented on #14
@xdoan these make sense to me.

4. Is indeed non-trivial: given dependency between column values and required cells to fill in the manifest may become less complete the more data is provided (e.g. biospecimen type is changed from cell to analyte, implying 10 other columns are required). However, we can indicate that to the user as part of a breakdown of metadata completion for unconditionally requ

[2021-01-26 23:00] xdoan commented on #14
It would definitely be good to create separate issues for them! This can be an overview to help orient us to the topic/scope.

1. This is even related to a higher level question of what makes up "complete" metadata for going public or the portal and how to communicate that visually, not just the backend functionality required to make that happen. I agree for simple purposes I can prototype with ju

[2021-01-28 00:58] milen-sage commented on #14
If you mean validation in 3., that's just metadata validation: each dataset manifest dataframe contains metadata that we want to evaluate w.r.t. the schema, using the validation methods in schematic. For now that's just manifest by manifest validation w/o looking at linkages between data type components.

[2021-01-28 18:17] xdoan commented on #14
so ^validation was in regards to validating saved In-Progress which is a more complex problem.

The idea is to have overall/summary metrics (how many in progress templates, which necessary templates are missing, how many complete templates, etc)

[2021-01-28 18:56] xdoan opened #107 "Mockup user-facing dashboard"
action item related to #14

Mock up several versions of: Display validated and submitted manifests and unsubmitted but necessary manifests, possibly with complete/imcomplete

1. basic version with complete/incomplete
2. version with metadata version
3. version with saved metadata

[2021-01-28 22:07] BrunoGrandePhD commented on #14
@xdoan: Thanks for kicking off this discussion! I'm happy to hop on a call anytime to discuss this further if you prefer brainstorming features or implementation details that way.

Here are some of my thoughts:

- **Re: Percent completeness.** Could we display a range of percent-completeness given the metadata that's been provided so far? This seems more intuitive for the users. I'm imagining ther

[2021-02-03 21:22] xdoan commented on #61
@milen-sage any ideas on the timeline for this feature on the backend? @rrchai is prototyping some code and it would be useful to have to option to show the submitted vs selected template type in the text.

[2021-02-03 23:03] milen-sage commented on #61
Hi @sujaypatil96 could you take a look at the discussion above?

Could you take on adding code to the manifest  validator that compares the rootNode/component to the component in a manifest and returns an error, as outlined above, if the two do not match?

[2021-02-04 21:08] xdoan commented on #61
@rrchai edited the scope of this problem to be more specific and cover one specific use-case! See first comment and edited name. lmk if you have any thoughts on this!

[2021-02-06 04:59] allaway commented on #30
I think I encountered this today but want to double check that I'm not encountering a new issue:

This happens when you upload a valid manifest, but it doesn't match the project (or no project was selected), and after clicking "validate," you get a "disconnected from app error" that yields the following log error:

[code]

[2021-02-08 18:22] milen-sage commented on #61
@sujaypatil96 a bit of clarification:

This should be fairly minor the way the issue is scoped:
- suppose a user selects metadata template X from the DC app dropdown
- suppose they mistakenly upload manifest for metadata matching template Y
- we want to return an error along the lines of “Submitted metadata for component Y, but requested validation for component X. Cannot complete validation.”

On

[2021-02-08 20:02] xdoan commented on #30
yup this is the error!

[2021-02-10 00:10] sujaypatil96 commented on #61
Closing, since [PR #404](https://github.com/Sage-Bionetworks/schematic/pull/404) resolves this issue.

[2021-02-16 23:23] xdoan opened #110 "Error for when gsheet API can't generate any more sheets"
This shows up in the logs:

and it would be useful to have an error that shows up for the user on the app

[2021-02-23 01:15] kthrog opened #115 "Add direct link to Synapse project being annotated"
**Feature**: For Synapse projects with a large number of folders/files, it could be nice to navigate right to the project + folder chosen for annotation right from the app, to investigate/review/confirm the files a user is about to annotate.

**Possible implementation**: I would envision a feature like this manifesting as a button on the Select Your Dataset tab, where you could "Click to visit thi

[2021-03-11 22:20] rrchai opened #119 "Disconnected from the server if validating without selecting template"
If I do not click **Select your Dataset** tab (not select any template), and I go directly validate the uploaded metadata. The server will be disconnected. Same for the 'generate gsheet template link'.

I think we need to have a proper error message if users do not follow steps/forget to select the template in the 1st place?

[2021-03-12 21:09] milen-sage commented on #31
Similarly, when a user uploads a new csv for validation, the previous validation output (e.g. errors or success messages) needs to be cleared.

[2021-03-12 21:25] milen-sage opened #120 "Add a progress indicator on the Submission waiter screen"
When users submit metadata for thousands of files, submission takes minutes.

It would be useful for users to see progress indication (e.g. number of files annotated out of total number of files).

This would require the backend to emit progress status periodically to the frontend. This will be doable when we have REST API.

We can revisit work on this in June.

[2021-03-15 20:03] #61 closed

[2021-03-29 12:50] rrchai commented on #31
#125 should resolve the issue for now.

[2021-03-29 12:50] #31 closed

[2021-03-30 14:51] rrchai opened #133 "Improve error handling on manifest missing required columns/wrong schema errors"
Open a new issue to improve error message when uploaded manifest does not have all required columns and 'wrong schema' errors are given from backend.

[2021-03-30 16:09] milen-sage commented on #133
Thanks for re-opening @rrchai !

[2021-03-31 19:13] rrchai opened #134 "Add css file for styling data curator app"
- [x] Decide which to use: css vs scss
- [x] Collect current css used in the app into a css/scss file and be able to use css/scss directly from the file in the app

What contents/features should be added into the css/scss file.

[2021-04-01 00:51] rrchai commented on #134
css file is already used in current version. if we want to have more styles, should we consider convert css to scss?

[2021-04-08 13:16] rrchai opened #137 "Proper Errors/notifications when the existing metadata template doesn’t match the latest schema"
The users may get server disconnected when they try to submit their existing metadata template that doesn’t match the latest schema. There are two scenarios regarding on this issue:

- There are existing annotations but no existing manifest
  - we need a flag when a metadata template is generated to indicate whether to pull existing annotations or generate an empty template (current behavior)
  -

[2021-04-08 13:24] rrchai opened #138 "Abstract redundant code in reusable global functions and variables"
Some redundant codes can be called once as global variable and change the global variable in the server, which make codes cleaner, e.g selected template.

[2021-04-08 13:29] rrchai opened #139 "Optimize login time"
Based on the testing on my local, `synStore_obj <<- syn_store()` takes about ~15s and `metadataModelFuns.py`  takes about ~10s.  It is reasonable `syn_store` currently fetches all the metadata (which is about a couple of dozen MB) and that takes some time. Is is possible to check if we can optimize these two functions and speed up the log in time. It is likely requires work on the backend and fron

[2021-04-08 13:39] rrchai opened #140 "Improve handling on malformation of data extraction - csv encoding"
we can handle most of Excel’s vagaries but other random problems persist: handle csv encoding on the backend and frontend; meanwhile raise error indicating the encoding is not supported (e.g. it is not utf-8).

There could be minor code changes related to csv encoding detection in R.

[2021-04-08 13:47] rrchai opened #141 "Internet/browser interrupt prevents the completion of submission"
Everything goes fine but takes long time on metadata submission (due to large file). There is an internet/browser interrupt (e.g. connection loss, tab crash) prevents the completion of submission. This currently requires manual clean up of metadata on Synapse. We should indicate metadata submission progress and alert if error occurs.

[2021-04-08 13:52] rrchai opened #142 "Improve the logic matching submitted filenames to existing files in Synapse"
Scenario: users didn’t use the DC app to generate the template for an assay dataset, but used empty templates (e.g. someone from DCC, send them links for reference). Users then proceeded to fill in different filenames than what’s in their dataset. Even if their metadata is valid we wouldn’t actually receive it and they would not get an error during submission.

This type of scenario is important t

[2021-04-08 14:03] rrchai opened #143 "Colorize invalid (red) vs valid (green) messages"
Provide proper colors for valid/ errors messages.

[2021-04-08 14:17] rrchai opened #144 "Compress the duplicated errors"
Currently, we show all the errors, but if there are many same invalid values in the same column, those errors are duplicated and could be either compressed or have better visualization on UI.

[2021-04-08 14:27] rrchai commented on #104
Closing, since PR #116 resolves this issue for now. We may improve further on visualizing duplicated errors later, #144.

[2021-04-08 14:27] #104 closed

[2021-04-08 18:10] sujaypatil96 opened #145 "Data Curator App refactor round 1"
The first round of refactoring to be done on the Data Curator App. This will include:

1. Split the largely monolithic [`app.R`](https://github.com/Sage-Bionetworks/data_curator/blob/shiny-server-main/app.R) file into [`ui.R`](https://github.com/Sage-Bionetworks/data_curator/blob/shiny-server-oauth/ui.R) and [`server.R`](https://github.com/Sage-Bionetworks/data_curator/blob/shiny-server-oauth/serv

[2021-04-08 18:21] sujaypatil96 opened #146 "Data Curator App refactor round 2"
This round of refactoring will be based on round 1 of the refactor (tracked in this [issue](https://github.com/Sage-Bionetworks/data_curator/issues/145)):

1. Split the code within the relatively large [`ui.R`](https://github.com/Sage-Bionetworks/data_curator/blob/shiny-server-oauth/ui.R) and [`server.R`](https://github.com/Sage-Bionetworks/data_curator/blob/shiny-server-oauth/server.R) scripts in

[2021-04-08 18:27] sujaypatil96 commented on #138
This is linked to issue #145. I would recommend tackling this after we have reviewed and merged that issue in order to avoid duplicating effort.

[2021-04-08 18:32] sujaypatil96 opened #147 "Data Curator App documentation improvement"
1. Update documentation theme to match theme as [here](https://nf-data-portal-docs.scrollhelp.site/NFdocs/). A site powered by Scroll Viewport and Atlassian Confluence.
2. Decide on branch naming convention. Recommended convention is specified in [gitflow](https://nvie.com/posts/a-successful-git-branching-model/) docs.
3. Remove all references to HTAN (de-HTAN-ify) the codebase including the docs.

[2021-04-08 23:15] kthrog opened #148 "error handling improvement for user without access to projects to annotate"
If you access the data curator app while logged into Synapse, but do not actually have access to any projects connected to that app, it just 'generates' forever. Seeing a descriptive error might be nice -- something like, 'you may need access to a Synapse project to use this app.' I think this might be the same as / connected to issue #94 but I'm not 100% sure on that.

![image](https://user-image

[2021-04-10 13:57] inodb opened #149 "not all templates are showing up in dataset selection dropdown"
When I try to use https://www.synapse.org/#!Wiki:syn20681266/ENTITY

I don't e.g. see `scRNA-seq Level 4` in the dropdown. Just Level 1:

<img width="540" alt="Screen Shot 2021-04-10 at 9 55 47 AM" src="https://user-images.githubusercontent.com/1334004/114272170-0bd3fc00-99e3-11eb-8d44-d4d489b782b8.png">

[2021-04-11 21:34] milen-sage commented on #149
@inodb - thanks for spotting. I was just bumping into a similar issue myself.

In the latest codebase update from Fri, we have erroneously not pulled in the latest HTAN schema; it accidentally uses and old one...

Tagging @sujaypatil96 -  highest priority fix:
- update DC app HTAN schema to use latest [one](https://github.com/Sage-Bionetworks/schematic/blob/main/data/schema_org_schemas/HTAN.jsonld

[2021-04-12 08:01] sujaypatil96 commented on #149
Thanks for catching this @inodb. This happened because we hadn't updated the HTAN data model to it's [latest](https://github.com/Sage-Bionetworks/schematic/blob/main/data/schema_org_schemas/HTAN.jsonld) version. The file ([config.json](https://github.com/ncihtan/HTAN-data-curator/blob/shiny-server-1.2.1.rc1/www/config.json)) that controls what items are in the template drop down wasn't updated eit

[2021-04-12 18:14] inodb commented on #149
Awesome - thanks for the quick fix @milen-sage and @sujaypatil96 !

[2021-04-19 20:04] sujaypatil96 commented on #149
this issue was resolved based on issue #154.

[2021-04-19 20:04] #149 closed

[2021-04-20 16:03] allaway opened #156 "metadataModelFuns.py config bug"
Maybe I have done something wrong, but i had to change L11 to a more explicit path, rather than referring to the schematic config:

`inputMModelLocation = "./schematic/data/schema_org_schemas/...schema name....jsonld"`

in order to get the front end app to work with the newer-style schematic config file. Prior to that, I would get this error:

[code]

[2021-04-27 16:57] allaway opened #159 "app crashes if manifest is blank"
If you inadvertently upload an empty csv (incl no column headers), the app crashes.

[code]

[2021-04-27 17:03] allaway opened #160 "large manifest files crash app @ validation stage"
I tried to validate this manifest: https://docs.google.com/spreadsheets/d/1UtYc889bzhUms67bBbHYvyx46eUncztDOSo5KH2xPHM/edit#gid=136843556

If I make a 'mini-manifest' of only the first 70 rows (e.g. one of the subfolders), validation works fine.

However, if I try the full manifest (561 rows), after clicking "validate" the app crashed. This log shows both the successful validation (eg mini-manifes

[2021-04-27 17:15] allaway commented on #160
Oops, here is the log:

[code]

[2021-04-27 18:28] rrchai commented on #160
Hi Robert,

I am trying to reproduce the errors and dig into the reason. Could you tell me which template type you chose to validate?

Thanks

[2021-04-27 18:50] allaway commented on #160
Hi Rong,

I'm using the nf GenomicsAssay template, here's where it is defined: https://github.com/nf-osi/schematic/blob/93afd59f44d3329303075733adf48a0ee769518a/data/schema_org_schemas/NF.jsonld#L8534

[2021-04-27 20:40] allaway opened #161 "TRUE/FALSE in csv coerced to True/False in validation step"
Perhaps I've just done something wrong here but I have columns with TRUE/FALSE values (https://docs.google.com/spreadsheets/d/1UtYc889bzhUms67bBbHYvyx46eUncztDOSo5KH2xPHM/edit#gid=136843556) However, when I try to validate this data, the validation throws an error like `'False' is not one of ['TRUE', 'FALSE']`, which leads me to believe that the CSV, when getting read in has TRUE/FALSE values chan

[2021-04-27 20:59] allaway commented on #161
another screenshot in case it is helpful:

<img width="1511" alt="Screen Shot 2021-04-27 at 1 58 59 PM" src="https://user-images.githubusercontent.com/20408008/116312044-c9d7e380-a760-11eb-934f-b31abd50a706.png">

[2021-04-28 19:48] rrchai commented on #160
Hi Robert,

I am not able to reproduce the errors on my side. All errors(1k+) from "full-manifest" can be printed during validation process, but it did take much longer than "mini-manifest" (100+ errors). I am not sure if large amounts of errors is the reason to cause the app crash. If it is the case, we are working on to compress the duplicated errors #144 and hope it will solve the issue.

I won

[2021-04-28 20:05] rrchai commented on #161
The filled manifest will be loaded directly using "file path" during [validation](https://github.com/Sage-Bionetworks/data_curator/blob/shiny-server-main/app.R#L458). @milen-sage @sujaypatil96 It could be an issue related to [pd.read_csv](https://github.com/Sage-Bionetworks/schematic/blob/develop/schematic/models/metadata.py#L180) in `validateModelManifest` function from schematic.

Using Robert's

[2021-04-28 20:19] rrchai commented on #161
For preview table, this problem should be fixed in PR #129 since we read all columns as characters, [code here](https://github.com/Sage-Bionetworks/data_curator/pull/129/files#diff-ee89f65a0b4e0dccabce1672d6d689b4e2b6ca51ea1e746bdda1eca94aaa6e0fR533-R535).

See screenshot below:
<img width="500" alt="Screen Shot 2021-04-28 at 4 18 26 PM" src="https://user-images.githubusercontent.com/73901500/1164

[2021-04-28 21:42] allaway commented on #160
Hi Rong,

Interesting. Glad it works on your side...it must be something funky with my fork, perhaps.

I think the error you linked is caused by typing in the project name in the selectizeInput and is unrelated to this issue. Here's a gif:

![Screen Recording 2021-04-28 at 2 38 38 PM](https://user-images.githubusercontent.com/20408008/116476303-e3942c00-a82f-11eb-9ab6-35355c6216d1.gif)

[2021-04-28 21:43] allaway commented on #160
Wow, not sure what happened there but i think the gif conversion slowed that down by 2x or something...sorry

[2021-04-28 22:20] allaway commented on #160
I've assigned this to myself b/c it sounds like it might be an issue on my end.

[2021-04-29 03:09] allaway commented on #160
Good news! I updated to `shiny-server-develop` and made the necessary changes for NF and it seems to be working fine now!

One question: when I click validate, the `waiter` doesn't seem last long enough, it should probably disappear after the error table is rendered but it actually disappears sooner and then it seems like the app has frozen for several seconds. Do you see this on your end too?

[2021-04-29 03:38] allaway opened #162 "add validate statement when selecting projects"
I think this would help reduce user confusion by eliminating this transient error with a friendlier `validate`:

![Screen Recording 2021-04-28 at 2 38 38 PM](https://user-images.githubusercontent.com/20408008/116499704-a8aaec00-a861-11eb-9527-8fbd2fc46c94.gif)

[2021-04-30 17:56] allaway opened #163 "allow user to not import previous annotations"
I think it would be really swell if use_annotations T/F was surfaced to the end user with a prettyCheckboxInput, with the default being TRUE. This will allow the user to start from a blank slate if it is for some reason necessary to do.

I'd guess this is a low priority, quality of life type improvement.

[2021-05-06 06:04] #145 closed

[2021-05-12 02:54] allaway opened #165 "Data Curator app unexpectedly grows .synapseCache"
**Describe the bug**
Using the data curator app grows the .synapseCache very quickly. (@sujaypatil96 had 24GB, I had 11GB). Other DC app users/maintainers/developers also seem to have oversized home directories on the shiny server.

**To Reproduce**
Unclear - run the data curator app + schematic for a while. :)

**Expected behavior**
To not fill up the synapse cache.

**Additional context**
See ht

[2021-05-14 00:19] allaway commented on #165
OK, so two days later and my cache has grown back to ~200 MB. I have not actively retrieved anything from synapse - this is all DC app (well, I run a few other apps, but only one uses data from synapse, and it's a finite amount, only a few MB that would remain cached).

It looks like it's the synapse table queries that are filling up space?

[code]

[2021-05-25 23:40] allaway opened #169 "Upon encountering validation error, provide index of error"
One of our users uploaded a 200 row manifest with many columns, and the validation report shows the following:

<img width="1515" alt="Screen Shot 2021-05-25 at 4 30 48 PM" src="https://user-images.githubusercontent.com/20408008/119581602-b9268780-bd77-11eb-8e23-69bd2975cc35.png">

It would be helpful if it provided the index, or at least the row, of the error, so that the user can find the value

[2021-05-26 18:17] rrchai commented on #169
Yeah, the reason we removed row index was because we tried to avoid the confusion between google sheet row index and `datatable` row index. But I agree with you, if filled manifest has a lot of rows and just a couple of wrong values , it will be hard for users to locate the invalid values.

So I think we will make following changes:

- [ ] add the row index back into error table and I believe the

[2021-05-26 18:57] milen-sage commented on #169
Yes, agreed @rrchai,  given the row index now match Google sheet's indexing, displaying this info would be helpful for the user.

This^ would be useful but if it takes more than a couple of hours to implement let's prioritize w.r.t. other work on the DC app.

[2021-05-26 19:14] allaway commented on #169
Thanks, both! That makes a lot of sense.

@milen-sage  - thankfully, simple search is very easy to implement in `reactable` or `DT`: https://shiny.rstudio.com/gallery/nhl-play-by-play.html

[2021-06-07 21:12] rrchai opened #172 "App crashes if uploading manifest without any existing file/data in the folder"
If the dataset has no files existed, uploading validated manifest will crash because `stack` doesn't like `NULL`.

https://github.com/Sage-Bionetworks/data_curator/blob/dbd19831302e3e4cd37df5b550e8c22dc8abb738/server.R#L306-L313

Since some folders could be empty before uploading manifest, such as clinical and biospecimen data, and I feel it is better to have errors before submitting the manifest.

[2021-07-01 21:43] rrchai opened #174 "Mockup User-interface Dashboard - latest"
There are already some issues open related to this feature: #12, #14, #15, #107. Here I just collected notable information from previous issues and start to mock up this feature.

In general, this feature should provide user-interface dashboard that helps users to notice their metadata submission progress, and get sense of what other metadata they should/can provide. In addition, this feature is a

[2021-07-12 21:54] BrunoGrandePhD opened #175 "Conflicting dependencies in `requirements.txt`"
Here's the error I run into:

[code]

[2021-07-12 22:40] BrunoGrandePhD commented on #175
Interestingly, this error happened on my MacBook, but not when I ran the same command on the Shiny (Linux) server.

[2021-07-23 16:31] #159 closed

[2021-07-23 16:32] rrchai commented on #138
see issues #145 #146

[2021-07-23 16:32] #138 closed

[2021-07-23 16:33] #162 closed

[2021-07-23 16:33] #119 closed

[2021-07-23 16:34] rrchai commented on #29
see #119

[2021-07-23 16:34] #29 closed

[2021-07-23 16:38] rrchai commented on #133
Now, the error indicates it is wrong schema relevant errors because of missing required columns.

Create a new ticket if we consider to be more specific/descriptive on wrong schema errors, e.g. outdated schema vs wrong column names vs miss required columns.

[2021-07-23 16:38] #133 closed

[2021-07-23 16:38] #143 closed

[2021-07-23 16:39] #134 closed

[2021-07-23 16:43] rrchai commented on #70
The issue should be fixed, since I cannot reproduce it. Feel free to re-open if the behavior still happen on your end.

[2021-07-23 16:43] #70 closed

[2021-07-23 16:46] #49 closed

[2021-07-23 16:49] #71 closed

[2021-07-23 16:50] rrchai commented on #39
`selected projects` is now shown in the header dropdown.

[2021-07-23 16:50] #39 closed

[2021-07-23 16:51] #146 closed

[2021-07-23 16:52] #9 closed

[2021-07-23 16:53] rrchai commented on #2
the feature is already embedded. Please feel free to re-open if I misunderstand.

[2021-07-23 16:53] #2 closed

[2021-08-23 16:36] allaway opened #187 "Google sheet link is not obvious to some users"
Some of our users miss the fact that a link shows up after clicking the Generate Google Sheets Link button. Maybe there is some way to make this link more obvious via a bright color or other clear call to action?

Right now, it kind of blends in to the page.

[2021-08-25 15:56] allaway opened #188 "Attempting to annotate deleted file causes app to crash"
A user today generated a manifest, annotated some files, deleted a file, and then tried to submit a manifest that included the deleted file as a row. When she went to validate, it worked fine, but when she went to submit, the app crashed (the typical Shiny 'Disconnected from app' error).

Looking at the logs is how I discovered the app was trying to annotate a deleted file:

[code]

The app should

[2021-08-25 16:16] milen-sage commented on #188
@allaway thanks for filing this! In other projects we don't allow users/teams to delete entities directly themselves, and handling this use case was not prioritized. It's a good time to revisit and add a feature to schematic.

It sounds like you are suggesting surfacing a warning message during validation, in addition to handling annotations for missing entities in schematic; e.g. instead of crash

[2021-09-03 17:38] alyssa-acebedo opened #190 "DCA disconnects when choosing certain templates"
When testing this instance of the DCA https://shinypro.synapse.org/users/rchai/dc/, the app has disconnected a few times when choosing certain templates.

The app disconnects when choosing:

- Project: HTAPP, Folder: Clinical Therapy Colon, Template: Clinical Tier1 Therapy
- Project: HTAPP, Folder: single_cell_RNA_seq_level_2_colon, Template: scRNA-seq Level 2
- Project: HTAPP, Folder: single_cell

[2021-09-07 21:28] ychae commented on #190
Not sure if this is related, but in the current app (Sujay's version) the HTAPP/Vanderbilt centers have gotten disconnect errors for the following templates during generation and/or validation:

1. Vanderbilt single cell levels 1-3 (unable to generate templates)
2. HTAPP MERFISH all levels (unable to generate or validate templates)
3. (and all of the tables in [this folder](https://drive.google.co

[2021-09-20 15:16] rrchai commented on #190
[code]

here is the error raised by those templates mentioned in this ticket for `https://shinypro.synapse.org/users/rchai/dc/`

[2021-09-20 18:18] rrchai commented on #190
Error using `schematic`:
[code]

[code]

[2021-09-20 18:31] ychae commented on #190
Update from Clarisse on Thursday 9/16:

I started making my way through the folder of outstanding HTAPP metadata tables, trying to submit them following the recent DCA fixes. I was able to submit a couple, but am still running into disconnect errors for many others.

Would you be able to ask Rong if he can look into these? I'm linking below a few of the tables that failed (and where possible a suc

[2021-09-20 19:15] rrchai opened #192 "Disconnect during submission"
Update from Clarisse on Thursday 9/16:

I started making my way through the folder of outstanding HTAPP metadata tables, trying to submit them following the recent DCA fixes. I was able to submit a couple, but am still running into disconnect errors for many others.

**Biospecimen**

- Submitted: [PML](https://www.synapse.org/#!Synapse:syn26174519)
- Failed after clicking submit: [lung](https://dr

[2021-09-20 19:16] rrchai commented on #192
The error associated with this issue:

Warning: Error in py_call_impl: SynapseHTTPError: 400 Client Error:
Invalid annotation name: 'Intervaloftimebetweenremovalfromthebodyandtissueisplacedinmedia(minutes)'. Annotation names may only contain; letters, numbers, '_' and '.'

Detailed traceback:
  File "/home/rchai/miniconda3/envs/data_curator_env_oauth/lib/python3.7/site-packages/schematic/store/syn

[2021-09-20 19:33] ychae opened #193 "New files added to a folder do not show up in the generated templates"
**Describe the bug**
From Marisol R at Vanderbilt:
[code]

One of the folders that contains the old (February) files and new (August) files are here: https://www.synapse.org/#!Synapse:syn23564801

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Data Curator App](https://www.synapse.org/#!Wiki:syn20681266/ENTITY)
2. Select "Project":"HTAN Vanderbilt", "Folder":"single_cell_RNAseq_level_

[2021-09-21 16:25] milen-sage commented on #192
Let's fix this in schematic: [this line](https://github.com/Sage-Bionetworks/schematic/blob/c5a4814d3c9853e957a9c97400a7ca2d88a4afd9/schematic/store/synapse.py#L510) should be a good place.

[2021-09-21 16:50] milen-sage commented on #193
schematic should handle the generation of a google sheet when there is no manifest present and when there is a manifest present in a given dataset folder. schematic will return a url to the resulting google sheet. The DCA should only need to call schematic's populate manifest function, w/o having logic to decide whether an empty or pre-populated google sheet has to be generated.

[2021-09-23 22:51] milen-sage commented on #192
@clarisse-lau @elysekozlowski @nithyav21

In case this problem re-emerges in other settings, HTAPP have added columns to their metadata manifests that are not in the HTAN schema. These column names contain symbols like '(' which are not acceptable (in any reasonable data system) in column names. That causes the error reported above.

We could resolve by trying to clean column names automatically,

[2021-09-23 23:09] ychae opened #199 "Descriptive error for symbols in manifest column names"
**Please describe your enhancement request.**
In the cases where centers submit columns in their manifest that have symbols (i.e. "("), have a descriptive error rather than the app crashing or completely removing the columns.

**Describe the solution you'd like**
An error that comes up that shows the problematic columns and asking that the user re-submit with valid columns.

**How important is thi

[2021-09-23 23:10] ychae commented on #192
Issue created :)

[2021-09-23 23:27] milen-sage commented on #190
Reproduced - fix identified.

[2021-09-24 17:11] nithyav21 commented on #192
Thanks @milen-sage ! Could we save the data from the extra columns with HTAN IDs elsewhere if the plan is to remove the extra columns so the data is not lost?

[2021-09-27 18:56] rrchai opened #200 "Waiter screen does not properly disappear after successful submission"
reported by @BrunoGrandePhD:

[2021-09-27 23:27] milen-sage commented on #192
@nithyav21  note: we are going with the solution of changing extra column names so that they don't contain characters like '('. We are not removing the columns.

[2021-09-29 00:10] milen-sage commented on #193
@rrchai you can take a look at the updated [PR 523 ](https://github.com/Sage-Bionetworks/schematic/pull/523#issuecomment-929712299) in schematic.

Instead of [calling populateModelManifest](https://github.com/Sage-Bionetworks/data_curator/blob/c341f21358ea17b0834b30d8ac4cc4108b774285/server.R#L225), you should be able to call getModelManifest the same way as you do [here](https://github.com/Sage-B

[2021-09-29 00:11] milen-sage commented on #193
@ychae thank you for the detailed bug description across these issues (e.g. #190, #192 and #193) :)

[2021-09-29 21:44] #200 closed

[2021-10-01 18:17] #192 closed

[2021-10-01 18:17] #199 closed

[2021-10-01 19:45] ychae commented on #193
@milen-sage @rong I just tested and I see a lot blank rows and then once I scroll down I see the old file names. If I scroll over to the right though, I can see *all* of the SynapseIDs.

Blank file names to filled in old file names:
<img width="958" alt="blank_filenames" src="https://user-images.githubusercontent.com/12868382/135677496-5075d408-1acf-47b1-9cd1-d483d341bfb1.png">

Filled in columns,

[2021-10-01 19:48] milen-sage commented on #193
@ychae I see the biospecimen component there. Aren't these files single cell?
If the files are single cell, could you try selecting single cell RNA seq in the template dropdown?

Biospecimen is not a file-based data type, and the expected behavior is different wrt to pulling updated list of files (i.e. files do not apply to Biospecimen data; e.g. the data model doesn't include the attribute Filena

[2021-10-01 19:54] ychae commented on #193
@milen-sage it's really odd, but I selected the correct scRNA-seq Level 1 template and that's what it generated. Here's the screenshot of the dropdown values
<img width="979" alt="Screen Shot 2021-10-01 at 12 51 27 PM" src="https://user-images.githubusercontent.com/12868382/135678890-9c4ea71d-df32-4166-9df3-6f07ac293713.png">
:

[2021-10-01 20:06] milen-sage commented on #193
@rrchai has accidentally submitted a Biospecimen manifest for the Vanderbilt folder while testing today. I restored Vanderbilt's manifest. @ychae could you test the app again?

[2021-10-01 20:19] ychae commented on #193
Whoo-hoo! Looks good! Love it when it's an easy fix 😁

I can see the annotated old files and the filenames of the new files, with no annotations. Looks good to share with Marisol.

Thanks Rong! 🎉  Thanks Milen! 🙌

[2021-10-01 20:24] rrchai commented on #193
@ychae Good catch!! And thank you @milen-sage for a quick fix.

I realized when I was testing submission function, I accidentally submitted some files from other project to [the Vanderbilt scRNA_seq_level1](https://www.synapse.org/#!Synapse:syn23520241). If I remember correctly, it only originally contains `synapse_storage_manifest.csv` and [FASTQ_raw](https://www.synapse.org/#!Synapse:syn23564801

[2021-10-01 20:25] milen-sage commented on #193
Yes, we can delete the unneeded entities.

[2021-10-01 21:21] rrchai commented on #193
closes the issue since it's been fixed. Feel free to reopen if the issue remains

[2021-10-01 21:21] #193 closed

[2021-10-07 15:32] rrchai opened #206 "Disconnection when there is no existing manifest"
All tests were done on the test folder located here: [syn26004567](https://www.synapse.org/#!Synapse:syn26004567).

### Tests
Several templates disconnected when generating the metadata template (these also disconnected on the production app) :
- [x] Bulk RNAseq level 1
- [x] scRNAseq level 1
- [x] Imaging level 2

_Originally posted by @ychae in https://github.com/Sage-Bionetworks/data_curator/is

[2021-10-07 17:03] milen-sage commented on #206
@rrchai yes, I am testing today, meanwhile if you could just confirm you are on the latest version of the  schematic`develop` branch (that has the syn_store error fixed) in the developer version of the app?

[2021-10-07 21:07] milen-sage commented on #206
@rrchai this is a good point! I'll issue a PR to fix this. This is critical and once the fix is in we'd have to update the DC app to the latest version of schematic's `develop` branch.

[2021-10-07 22:48] milen-sage commented on #206
@rrchai, when you have a moment could you update a develop version of the DC app to latest schematic `develop`? This has [PR#532](https://github.com/Sage-Bionetworks/schematic/pull/532) merged. @ychae and I can test it.

[2021-10-07 23:24] milen-sage commented on #206
@rrchai ok, if you are satisfied with testing behavior, feel free to update production instances.

Do you see an easy-ish, good way to address

With the current behavior, in the above scenario^ w/o alert, the downside is that users may download the generated empty manifest and populate filenames manually (i.e. no entityIds will be fetched from Synapse). If they submit their manifest, it may get va

[2021-10-07 23:45] rrchai commented on #206
Thanks for quick fix @milen. I have updated the prod site as well.

I can start to improve on error handling based on your suggestions tomorrow.

[2021-10-08 16:45] rrchai opened #209 "Header data dropdown didn't update input values of the dropdown in data tab"
The display selections in both "tab" dropdown (project, folder, template) and "header" dropdown are synced, but the values in "tab" dropdown are not updated immediately (below). It can cause to submit to wrong folders. Looking into it today.

<img width="709" alt="Screen Shot 2021-10-08 at 12 44 10 PM" src="https://user-images.githubusercontent.com/73901500/136593454-91e824d3-38ad-47ed-b183-026340

[2021-10-12 19:14] ychae commented on #67
@jaeddy and @milen-sage could you take a look at ticket #174 and let me know if some of what you were thinking of is being addressed there?

[2021-10-12 19:14] #36 closed

[2021-10-12 19:41] rrchai commented on #100
Just realized it was actually solved.

[2021-10-12 19:44] #107 closed, assigned to nobody

[2021-10-12 19:49] rrchai commented on #46
and it could be applied to fix #141

[2021-10-12 20:06] milen-sage commented on #67
@ychae rhandsontable is an alternative tabular interface we could use, e.g. for manifest generation. The latter has a dependency on the schematic manifest generation code. It's an interesting idea to explore since schematic is not tied to google manifests - as @rrchai noted we already generate manifests in tabular format and these don't have to be eventually stored as google sheets. This would rem

[2021-10-12 21:49] BrunoGrandePhD commented on #14
I think so 🤔

[2021-10-14 19:52] ychae opened #213 "Dropdown values in Clinical Demographics Template are incorrect"
**Describe the bug**
The dropdown values in the clinical tier 1 demographics template are incorrect. The values seem to be shifted over by one column. For example, the values that I'm seeing should be associated with the column to its left.

<img width="653" alt="Screen Shot 2021-10-14 at 12 46 50 PM" src="https://user-images.githubusercontent.com/12868382/137385576-00011fe9-6b4f-4dda-852f-5b59c91

[2021-10-14 20:15] #213 closed, assigned to milen-sage, rrchai

[2021-10-14 21:12] rrchai opened #214 "Do not populate file list for record-based data types"
initial reported by @ychae

the filenames are added in record-based manifests:

<img alt="Screen Shot 2021-10-14 at 1 01 26 PM" width="657" src="https://user-images.githubusercontent.com/12868382/137387345-c426b6a9-1b4f-42c5-ab16-baa31fd369b6.png">

To-fix:
- [x] Add validation in `getModelManifest` not to populate file name list for record-based manifests.

[2021-10-15 17:30] #144 closed

[2021-10-15 17:30] #169 closed

[2021-10-15 17:30] #206 closed

[2021-10-15 17:30] #187 closed

[2021-10-15 17:30] #209 closed

[2021-10-15 17:30] #214 closed

[2021-10-15 17:34] rrchai opened #216 "Find a better way to visualize the skipped invalid row indexes/values"
@ychae:

![](https://user-images.githubusercontent.com/12868382/137508979-17d57cda-e610-4ec9-b6d8-faaa7bb8a4f3.png)

@rrchai:

[2021-11-05 20:55] rrchai opened #222 "Disconnection when generate SRRS manifest - edge case"
App disconnects when generate new component manifest (SRRS imaging level2) for old existing projects (BU -archive).

According to @milen-sage: this catches an edge case where the (new) schema was updated by removing attributes, but the existing manifest (BU’s) contains these attributes.

Reproduce: BU -> archive -> SRRS image level2

[2021-11-05 20:55] rrchai commented on #222
error:

[code]

[2021-11-10 20:31] brynnz22 opened #223 "504 Gateway Time-Out when generating template"
**Describe the bug**
- [ X] Server disconnect
- [ ] Wrong manifest
- [ ] Wrong values in manifest columns
- [ ] Other (please describe)

**To Reproduce**
Center: Vanderbuilt
Template: Exposure

**Screenshots (optional)**
If applicable, add screenshots to help explain your problem.

**Additional context (optional)**
Could not generate template. Tried to reload the app - got "504 Gateway Time-out"

[2021-11-10 20:55] mialy-defelice opened #224 "Quote in Component Column, manifest validation failure"
**Describe the bug**
- [ ] Server disconnect
- [ ] Wrong manifest
- [x] Wrong values in manifest columns
- [ ] Other (please describe)

**To Reproduce**
Center: Stanford
Template: Molecular Test
[https://docs.google.com/spreadsheets/d/1uTpcAVzQ67479xx7Cf2gPQ4lNWTzWoQBHIlT3qS85RY/edit#gid=0](url)

**Screenshots (optional)**
If applicable, add screenshots to help explain your problem.
<img width="16

[2021-11-15 18:53] clarisse-lau opened #226 "Mismatched field name and drop down options"
**Describe the bug**
- [ ] Server disconnect
- [ ] Wrong manifest
- [ ] Wrong values in manifest columns
- [X] Other (please describe)

**To Reproduce**
Center: OHSU
Template: Demographics

**Screenshots (optional)**
![Screen Shot 2021-11-15 at 10 18 07 AM](https://user-images.githubusercontent.com/63608514/141834179-a1163fbf-e699-405c-8994-370633f6a71d.png)
![Screen Shot 2021-11-15 at 10 20 54 AM

[2021-11-15 18:54] clarisse-lau opened #227 "Extra columns in Google sheet"
**Describe the bug**
- [ ] Server disconnect
- [ ] Wrong manifest
- [ ] Wrong values in manifest columns
- [X] Other (please describe)

**To Reproduce**
Center: OHSU
Template: Demographics

**Screenshots (optional)**
![Screen Shot 2021-11-15 at 10 49 43 AM](https://user-images.githubusercontent.com/63608514/141837762-a7e6ccbf-1a31-4389-8607-9a6211e9d6b8.png)

**Additional context (optional)**

[2021-11-15 19:49] clarisse-lau opened #228 "Manifests submitted to same folder when app not refreshed between submissions"
HTAN Vanderbilt contributor submitted an updated biospecimen manifest, followed by 7 clinical (demographics, diagnosis, etc.) manifests on Nov. 4. She re-selected the appropriate folder and template options from the dropdown menus for each submission, without refreshing the app in between. All manifests were stored in the 'biospecimen' folder as new versions.

Initial biospecimen submission: https

[2021-11-15 21:07] milen-sage commented on #228
@rrchai could you try replicating?

@clarisse-lau thanks for filing an issue, the expected behavior is there is no refresh needed.

[2021-11-16 22:27] rrchai commented on #228
@clarisse-lau @milen-sage good catch!

The file ID is only updated in the second tab (generating template) in the current code base. So, if the users do not go to the second tab, the folder Id is not updated, which is not expected behavior.

I have made some changes in pr #230 with some minor improvement related to submission.

[2021-11-16 23:48] rrchai commented on #160
@allaway sorry about the late reply. It seems like the issue of app crash due to large manifest is solved on your end?

The container displaying the errors are shown after the waiter screen is hidden, but the process to generate the error is completed before the water screen hidden. On my end, I did not see the app frozen for several seconds. If you still have the same issue, please let me know an

[2021-11-17 00:00] allaway commented on #160
@rrchai Tahnks for the info! I don't think that bug happens anymore in the latest version of the app. I will reopen if needed!

[2021-11-17 00:00] #160 closed

[2021-11-18 18:48] ychae opened #232 "test backlog automation"
an issue to test if the backlog triage column automation works

[2021-11-18 21:06] #232 closed

[2021-11-19 21:56] mialy-defelice opened #233 "Validate permits ambiguous entries."
**Describe the bug**
- [ ] Server disconnect
- [ ] Wrong manifest
- [ ] Wrong values in manifest columns
- [ x] Other (please describe)
When validating a manifest with the wrong values, it permits a lot of nonsense to be entered. I think this could all be addressed with the new validation rules. It caught ones were there are specified valid values, that are incorrectly entered.

**To Reproduce**
C

[2021-11-22 16:15] rrchai commented on #233
@mialy-defelice  Thanks for reporting.

I can reproduce the same behavior. The app just structures the errors coming out from the backend. My initial guess is the schematic allows these incorrect values, but I am going to double check if the app mis-captures the errors.

[2021-11-22 16:29] rrchai commented on #233
These are the invalid errors from the `validateModelManifest` in the app. Is there any way to test if it is expected behaviors from schematic?

[code]

Note: the current develop/prod instances have not been updated to the latest version of `schematic` (not sure if there is a new update/fixe on schematic related to this issue.
[code]

[2021-11-22 16:38] rrchai commented on #224
@mialy-defelice  Thanks for creating this issue.

I think it is the expected behavior. The app will exclude the empty row, but the row 3 is not empty because there are some values in the `Test Analyte Type`, `Variant Origin`, etc.

[2021-11-22 16:39] rrchai commented on #224
Close this issues now, but feel free to reopen if you have further questions/suggestions.

[2021-11-22 16:39] #224 closed

[2021-11-23 12:51] #228 closed

[2021-11-23 12:51] #106 closed

[2021-11-23 17:46] rrchai commented on #233
- [ ] testing this branch on data curator app: https://github.com/Sage-Bionetworks/schematic/pull/509

[2021-11-24 23:40] rrchai opened #235 "Invalid conda env key name in global.R"
**Describe the bug**
key name in `example_config.yaml` does not match the key used in `global.R`. It will cause invalid conda environment used.
https://github.com/Sage-Bionetworks/data_curator/blob/106e701b686e29653a4d42c031e43792ec5f95d2/example_config.yaml#L11

 https://github.com/Sage-Bionetworks/data_curator/blob/106e701b686e29653a4d42c031e43792ec5f95d2/global.R#L46

**Expected behavior**
The

[2021-11-24 23:52] afwillia commented on #235
Note: toString(NULL) returns "" which is why this slipped past the error handling `if(is.null(conda_name)) ...`

[2021-11-29 16:33] mialy-defelice commented on #233
@rrchai Sounds good, I do think the validation rules will solve this issue. They need to be tested though and then added to DC. There is this PR [Schematic #510 ](https://github.com/Sage-Bionetworks/schematic/pull/510 ) that should be helpful (but only in gsheets).

[2021-11-30 21:32] afwillia opened #237 "Update package versions in renv"
Installing old binaries for Matrix, sass, and openssl is error-prone for R4.1.2 on Mac. Updating these to the current version may facilitate setting up this app locally.

[2021-12-07 22:57] afwillia opened #238 "Add README for local set up"
Add a section to the README explaining code modifications to run the app locally

[2021-12-10 19:58] afwillia opened #239 "shinyapps.io does not support conda envs"
Bruce can't install DCA on shinyapps.io because they do not support shiny. Swap the schematic virtual environment to venv and update the corresponding reticulate code.

[2021-12-14 00:04] afwillia opened #241 "Profile app with shinyloadtest to test latency issues with concurrent users"
There are reports of the app sending a 504 disconnect error when multiple users are accessing it simultaneously. Look into shinyloadtest to document potential bottlenecks.

[2021-12-14 00:11] afwillia commented on #241
Profiling the app with <5 users yields consistently good results. However, with >5 latency issues pop up and shinycannon cannot complete the tests, returning messages like `WS_RECV line 82: Haven't received message after 30 seconds`. High latency apps are a [known issue](https://rstudio.github.io/shinyloadtest/articles/limitations-of-shinyloadtest.html) for shinyloadtest.

Notably, running shinyca

[2021-12-14 16:49] rrchai commented on #223
followed up [jira ticket](https://sagebionetworks.jira.com/browse/IT-1520) and ticket #241

[2021-12-17 17:37] allaway opened #246 "Add error handling for expired oauth token"
**Describe the bug**
If you load a url with an expired oauth token, for example, if you refresh the app the app will disconnect without warning.

**To Reproduce**
Steps to reproduce the behavior:
1. Load the app, login.
2. Refresh the app.
3. Or just navigate here https://shiny.synapse.org/users/rallaway/NF_data_curator/?state=qxJOqdKlio&code=557bfa04-eea6-4df5-8d77-5d1745667eda

**Expected behavi

[2021-12-17 18:58] ychae commented on #246
@allaway Could you give us the level of priority for this request?

[2021-12-17 19:42] allaway commented on #246
I'd call it low-medium, quality of life type improvement. :)

On Fri, Dec 17, 2021, 10:58 Yooree Chae ***@***.***> wrote:

[2021-12-17 20:04] rrchai opened #247 "Reduce synapse cache size"
**Description of the issue**:
---
Currently, the dc apps produce a large amount of synapse caches (from synapse itself and schematic functions) over time. If we don't purge the caches regularly, it will easily run out of memory in the shiny server and cause server down.

**Improvement Request**:
---

Additionally, log files also have impact of increasing memory of server.

[2021-12-17 20:19] rrchai commented on #247
dups with #165

[2021-12-17 20:19] #247 closed

[2021-12-20 22:36] afwillia opened #249 "Interface app with schematic's REST API"
The app currently interfaces with schematic through reticulate and as a result requires the host to install schematic and its dependencies. This is problematic if the host cannot install system libraries, for example on shinyapps.io. Using schematic's REST API with, for example, `httr`, would drastically simplify installation of the app by removing all python dependencies. First we need to determi

[2022-01-05 01:33] ychae commented on #33
In the data curator app, the feedback button can link to the Jira Service Desk that we've set up for HTAN: https://sagebionetworks.jira.com/servicedesk/customer/portal/1/group/-1

[2022-01-06 21:38] allaway commented on #246
Hi @ychae , I just discovered that the stale oauth state/code in the URL also breaks the "Reload app" link when the app disconnects (e.g. this link refreshes the page, keeping the same code in the URL). Ideally, the app should detect that it's being handed a stale token, and try to get a new one/re-prompt for login.

With that in mind, I'd probably upgrade this to high priority.

Cheers,
Robert

[2022-01-06 21:40] ychae commented on #246
@allaway Thanks for catching that! I'll bump it up and see when we can get a fix deployed.

[2022-01-06 21:44] ychae commented on #246
@rrchai and @milen-sage I know we've got a few things actively being worked on right now (and Home Week fast approaching around the corner!) so we won't have time for it in this cycle. But would either of you be able take a look at this in the next couple of work days and provide an estimate on the amount of work it would take to fix it? I'd like to see if it's a fix we can get in for the next cyc

[2022-01-06 22:32] rrchai commented on #246
@ychae I should’ve linked PR #204 here, but that PR has addressed this issue

@allaway Adding below snippet into the `dashboardBody` will clear the url after 2s app initiates:

https://github.com/Sage-Bionetworks/data_curator/blob/106e701b686e29653a4d42c031e43792ec5f95d2/ui.R#L92

Let me know if that works :)

[2022-01-06 22:40] allaway commented on #246
🙌 nice work @rrchai ! I'll update to the latest version of the develop app and close this issue if it works!!

[2022-01-07 00:37] ychae commented on #246
Wow that's great! Thanks @rrchai!

[2022-01-19 18:34] rrchai opened #251 "Address the setup gaps of shinyapps.io deployment"
While we are working on the pr #244 to migrate the app from shinyServer to shinyapps.io, we can successfully set up the app locally and deploy to shinyapps.io manually. However, we have identified some setup gaps that still needed to be addressed for the auto deployment process via github workflow:
1. Enable to customize the schematic's [config.yml](https://github.com/Sage-Bionetworks/schematic/bl

[2022-01-20 23:14] ychae opened #253 "Replace "Placeholder" text with meaningful error"
**Describe the bug**
When a user doesn't have access to the fileview, they're notified "Looks like you dont have access to fileview" and then underneath it, it says "placeholder..."

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to Synapse using an account that doesn't have access to the [fileview](https://www.synapse.org/#!Synapse:syn20446927/tables/)
2. Go to [DCA](https://shinypro

[2022-02-03 19:45] lakikowolfe opened #255 "Default config.json does not match example.model.jsonld"
**Describe the bug**
When installing DCA locally the default example files do not align.

For example: `config.json` contains the schema name `BulkWESLevel1`. This isn't present in the example.model.jsonLd and selecting it breaks DCA.

**To Reproduce**
Steps to reproduce the behavior:
1. Install DCA
2. Launch DCA
3. Go to `Select Dataset`
4. Under `Choose Metadata Template` you will see options th

[2022-02-04 17:21] #137 closed

[2022-02-04 17:22] #246 closed

[2022-02-04 19:37] anngvu opened #256 "Provide a "help/issue" entrypoint in data curator triggered by unsuccessful validation"
Filing this suggestion on behalf of @jaybee84, who had the general idea that there should be a more seamless way to handle annotation issues encountered while using the app that would make it easier for both the user and us. I think this is a good idea but haven't figured out the implementation yet, so this is pretty low-priority for now, but here's what I'm thinking:

Description: Currently, when

[2022-02-04 20:34] ychae opened #257 "Requirements Gathering on Data Release Dashboard Prototype"
A ticket to track the requirements output from meeting with @adamjtaylor on HTAN.

**Current prototype**
[Issues](https://github.com/ncihtan/data-release-tracker/issues)
[Project board](https://github.com/ncihtan/data-release-tracker/projects/1)
[Milestones (by center)](https://github.com/ncihtan/data-release-tracker/milestones)

[2022-02-04 20:34] lakikowolfe opened #258 "installation notes: feat-UI-dashboard"
Notes from installing `feat-UI-dashboard` branch of DCA

[2022-02-04 22:24] ychae commented on #241
- [ ] what points are hanging up?
Acceptance Criteria:
1. Document fx or calls to synapse that are stalling

[2022-02-04 22:36] ychae commented on #257
Acceptance criteria:
Outline/Enumerate the use cases that come out of these conversations

[2022-02-04 22:37] ychae commented on #258
Acceptance criteria:
DCA launches and dashboard renders
Add in additional documentation

[2022-02-04 23:29] lakikowolfe commented on #258
## initial installation

did no know what exactly needed to be repeated if you're installing a second data curator on your machine.
* can I use the same client Id/secret (You can)
* do I need to recreate the conda environment (I don't)

## Running the app in RStudio

* required to update shiny
* On click of `run app`, application begins to load and then errors out with this error:

[code]
[Problem

[2022-02-05 01:59] allaway opened #259 "QoL feature suggestion: automatic retrieval of latest version, display version number"
**Describe the ~bug~ feature**
We are currently maintaining versioned releases of the csv and jsonld on GitHub (https://github.com/nf-osi/nf-metadata-dictionary/releases). It would be _neat_ the app could retrieve the latest tagged release automatically (and perhaps cache it until a change is observed?), but also if the app could display the current version of the schema and even perhaps link to t

[2022-02-07 21:43] lakikowolfe commented on #257
## Notes from meeting with Adam

*Overarching goal is to provide a quick view of which datasets are ready to release vs those that need more work and what work is left to do*

Adam set up the GH based tracking system:
- queried master HTAN file view to obtain synapse storage manifests
- pulled from HTAN portal list of every synapse id of every released file
- read every manifest and counted how ma

[2022-02-09 01:15] ychae opened #261 "Allow metadata upload prior to assay data upload"
Allison Creason at OHSU was wondering if:

[code]

I'm trying to get a sense of how many collaborators find this data flow useful (if there's a way to submit metadata before uploading data, before knowing the synapseID of the files)

[2022-02-10 21:12] afwillia commented on #241
@ychae @milen-sage Swapping `metadata_model$getModelManifest` with [the schematic REST API](https://github.com/Sage-Bionetworks/schematic/blob/183e5aad1c6ebe187563431fdb916453809fcb23/api/routes.py#L47), using very limited, hard-coded functionality did not result in much of a difference in execution time or latency issues with multiple users.

The same Synapse query is getting downloaded by DCA an

[2022-02-11 16:30] #235 closed

[2022-02-11 16:41] #251 closed

[2022-02-11 17:33] rrchai opened #265 "Manage Branches and First Release of App (HTAN)"
As we are moving forward with `shinyapps.io`, we will have at least two sites hosted for `production` and `staging` apps. We have already set up the [workflows](https://github.com/Sage-Bionetworks/data_curator/blob/c97d6b913e46e3dcb4a3290be1c75a8d76594025/.github/workflows/shinyapps_deploy.yml)  to auto-deploy the app into shinyapps.io. That being said, we will also need to update our current bran

[2022-02-11 17:45] rrchai opened #266 "Make this Repo More General as a Template"
The goal is to make `Sage-Bionetworks/data_curator` as a template, so that collaborators can fork this repo and use their own credentials for their own version of data curator. Here are couple of tasks we could start with:

- [ ] replace current `config.json` for HTAN with a more general `example_config.json`, as well as make app compatible with  `example_schema.jsonld` --> potentially address #25

[2022-02-11 19:20] afwillia commented on #241
@rrchai found similar issues in April https://github.com/Sage-Bionetworks/data_curator/issues/139

[2022-02-15 01:31] milen-sage opened #267 "shinyload profile compute footprint of DCA"
@afwillia has identified the latency bottleneck in #241 !

We can now proceed with profiling

- [x] RAM
- [ ] CPU
- [x] hard disk

footprint of the app.

For hard disk, it'd be really good to know how fast would we get to 10GB of hard disc usage given our current fileview query and download practices. This can be best profiled realistically with a large project like HTAN.

E.g. how fast users that

[2022-02-15 01:40] milen-sage opened #268 "Consolidate steps and documentation on shinyapps.io deployment"
@rrchai and @afwillia have tested the DCA w/in shinyappps.io and have reported deployment issues (e.g. issues related to PR #250).

Before moving apps in production to shinyapps.io these issues need to be resolved (or confirmed as resolved) and the deployment process documented.

[2022-02-15 18:21] milen-sage commented on #172
Acceptance criteria - the app no longer crashes.

[2022-02-15 18:38] milen-sage commented on #268
Acceptance criteria - finding out what it takes to deploy a shiny app to shinyapps.io; consult with Bruce on the process. Having a README with a checklist for deployment steps.

[2022-02-15 18:44] milen-sage commented on #266
Acceptance criteria - check all the items above.

[2022-02-15 23:20] afwillia commented on #267
Get an `Out of memory!` message on https://sagebio.shinyapps.io/data_curator-staging/ with 2+ users. The memory usage on shinyapps.io dashboard shows ~500MB max.

[2022-02-15 23:22] afwillia commented on #267
The app disconnects when 2+ users try to generate the google sheet at the same time (at least for two sessions in my browser).

[2022-02-15 23:35] afwillia commented on #267
Profiling one local run with `top` shows that the R session uses 500MB and the python session 427MB. So converting the reticulate calls to use schematic's REST API would make a nice dent in that.

[2022-02-16 19:16] afwillia commented on #267
@milen-sage 10 users, 5X/day = 50 accessions per day. I cleared my .synapseCache and then ran DCA for 10 different projects. After 1 round of template generation, the cache is 1.3GB. Running the same steps again to simulate the same users, the cache grew to 2.7GB.

1.35 * 10 * 5 = 67.5 GB per day * 30 = 2TB/month.... So under 2 days to get to 10GB.

Granted, this is an upper bound because I have a

[2022-02-16 22:04] afwillia opened #272 "Validation error despite matching template name and manifest component"
**Describe the bug**
Validating a manifest for template "Clinical Tier 1: Demographics" fails despite the Component column of the manifest matching the name of the template. It appears that if a manifest is already present in a folder, the app silently uses that file, ignoring the template chosen in the dropdown menu.

**To Reproduce**
1. Data curator app -> Project: HTAN Center A, Folder: test-aw

[2022-02-17 01:01] ychae opened #273 "Upload file entities to datasets in Synapse rather than folders going forward"
**Is your feature request related to a problem? Please describe.**
As a data contributor,  I want to upload my files to a dataset rather than a folder in Synapse in order to annotate my work in a way that makes sense for my data model and not create a bunch of phantom entities to hold annotations.

**Describe the solution you'd like**
Upload files to the new Dataset entity in Synapse rather than F

[2022-02-17 18:01] afwillia commented on #267
Good news, we have a paid version now and the max memory is now 8GB. After setting our instance to 8GB, I'm able to run the app with 6 instances in my browser.

[2022-02-17 19:18] rrchai commented on #272
Copy the conversation from slack to this ticket:

@milen-sage

yeah, right. In `config.json`, its schema name is “Demographics”. we use schema name to validate the filled metadata, but use display name in the error.

Assuming the correct name of data type is “Demographics” in the component column in the manifest:
If users accidentally fill in with the display name (Clinical Tier 1: Demographics in

[2022-02-18 01:56] ychae opened #274 "Data Curator doesn't match the google sheet for one data type"
**Describe the bug**
Ticket originally raised in https://sagebionetworks.jira.com/browse/HTAN-35

From Marisol Ramirez:
In the Bulk WES level 3 metadata template all germline, somatic, and structural variants workflows are required for each sample. Each of our samples is analyzed by only one workflow, not all three. Leaving the rest empty, NA, or Not Applicable are not allowed for the rest of the

[2022-02-18 01:57] ychae commented on #274
@milen-sage this likely requires triage (may belong in the `schematic` repo) but didn't want to lose track of this since it seems urgent for HTAN Data Release 2.

[2022-02-18 19:42] lakikowolfe commented on #172
Code in pull req 270 solves the issue of the app crashing when no manifest is present in the selected fileview.

Screenshots of what dashboard looks like when it renders with no manifest present:

![Screen Shot 2022-02-18 at 11 37 56 AM](https://user-images.githubusercontent.com/30699094/154750854-51338148-0b9d-4475-9451-c71d6408e78e.png)

![Screen Shot 2022-02-18 at 11 38 06 AM](https://user-imag

[2022-02-18 23:16] milen-sage commented on #172
0% is indeed something deserving a crown! :)

I think this looks good for the purposes of this issue.

We will start a separate issue on dashboard "gamification" and the respective iconography and status messages - we can align on user messages across the three tabs as part of that work.

@rrchai what do you think?

[2022-02-19 00:18] milen-sage commented on #267
@afwillia this is really good to know - this is all in terms of RAM right?

What are they using in their free tier?! My high-school pentium IV machine?

[2022-02-21 17:27] lakikowolfe opened #275 "Release Administrator: develop dataset selection UI"
Using mock up from #263 develop dataset selection UI for the Release Coordinator.

Should display all datasets in a fileview with information about their current release status (could include other info if relevant)

[2022-02-21 17:27] lakikowolfe commented on #275
[Using DT in Shiny](https://rstudio.github.io/DT/shiny.html): Examples showing how to create a selectable data table

[2022-02-21 17:41] lakikowolfe opened #276 "Develop file level selection UI for Release Coordinator"
Use mock up from #263 to develop file level selection UI.

Will be similar to dataset level selection UI.
- A table of files for each selected dataset
- User can select/deselect specific files
- Default is that all files are selected
- Show multiple datasets in a tabset
- toggle show/hide?

[2022-02-21 18:10] lakikowolfe opened #277 "Develop release designation UI for Release Coordinator"
Use mock up from #263 to develop release designation UI.

User should be able to designate datasets and, more granularly, files for upcoming release or to send back to quarantine.

[2022-02-21 22:45] afwillia opened #278 "Delete synapse disk files when app closes"
**Is your feature request related to a problem? Please describe.**
The app stores Synapse tables to the hard disk during each session. This information is redundant across sessions and different users and eventually fills up a lot of disk space. Since the stored information isn't used across sessions, it would be better to delete everything when the app closes.

**How important is this feature?**

[2022-02-21 23:42] allaway commented on #278
More on this here: https://github.com/Sage-Bionetworks/data_curator/issues/165

[2022-02-22 14:53] rrchai opened #279 "Address curators rater system for Dashboard"
Current testing dashboard displays the completion progress percentage and awards a "crown" regardless of completion. It would make more sense to have a rater system.

- [x] confirm how to calculate the total progress percentage for entire project
for now `# of completed datasets` / `total # of uploaded datasets`
- [x] define tier of different completion and have corresponding UI icons, such as gol

[2022-02-22 15:19] rrchai opened #280 "FAQ for Installation and Setup"
### OAuth

_No, you can use the same client for multiple Data Curator Apps, as long as the redirect_uris of your client cover your app url._

[2022-02-22 18:00] ychae opened #281 "Place manifest into a submission queue if the app is busy, rather than crashing"
**Is your feature request related to a problem? Please describe.**
Users are always frustrated when they attempt to submit their manifest and the server crashes because too many people are trying to submit at once.

**Describe the solution you'd like**
As a data contributor, I would like to submit my manifest and have it go into a queue if there are lots of people submitting at once, rather than i

[2022-02-22 18:17] rrchai opened #282 "Add log message/email for successful submissions"
**Is your feature request related to a problem? Please describe.**
No logs to track what files have been submitted to which folders in DCA.

**Describe the solution you'd like**
“{user} successfully submitted  {file_entityId} to {folder_entityId}"
-A: Add some log message in the app
-S: Send the message to synapse users email

**How important is this feature?** Select from the options below:
• 🌗 M

[2022-02-24 19:21] allaway opened #285 "Improvements for "finding files" waiter"
**Describe the bug**
The waiter is only triggered when changing a folder selection on the Select Dataset tab and moving the Get Metadata Template tab. It is _not_ triggered when changing folders/projects using the "selection" button, up top (see screenshot).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to curator app
2. pick a folder
3. go to get metadata template
4. change folder usin

[2022-02-24 19:26] allaway commented on #259
Now that the app is deployable on shinyapps.io, maybe a possible solution could be: new schema releases trigger a new build of the app and add the release tag (of the schema, not the app) to the app config file, which then uses that information to display the version in the app.

[2022-02-24 22:58] rrchai commented on #285
@allaway Thanks for the reporting. If you click the "update" button (on the right of dropdown menu), will it trigger the waiter screen?

[2022-02-24 23:48] allaway commented on #285
@rrchai, good point. that does trigger the waiter! I guess I wasn't actually updating the files when I tested this because I forgot to hit that. The window disappears for me when you make a new selection, so it seems like you're done (but you really have to open it back up to finish refreshing the data).

So maybe the bug is not that the waiter is not triggered, but that the UI makes you think you

[2022-02-24 23:53] rrchai commented on #285
@allaway exactly! I think that confused me some times too.

I guess we could either keep this window open until you click the "update" button. Or we just deprecate the "update" button, in other words, changing the selection in the header dropdown will automatically sync/update the selection backend.

[2022-02-24 23:56] allaway commented on #285
Hmm, yeah, I think both of those ideas are reasonable, but not 100% sure which is better.

I think I lean slightly towards the idea of keeping the window open until the refresh button is pressed, because it might be a frustrating experience with the waiter (which will presumably be triggered on every change) without a specific "Update" / refresh button.

[2022-02-25 16:37] milen-sage opened #286 "Implement Release Administrator UI - alpha"
**Is your feature request related to a problem? Please describe.**
We'd like to create a new shiny app module: Release Administrator. (@lakikowolfe it turns out release coordinator is already taken by a different service in our INCLUDE project that does very different tasks).

This module addresses the [user scenario here](https://docs.google.com/document/d/1q4IyIIbyH1miL2kXbaBt1yHUhA_8J9Vzfa8q1Sn

[2022-02-25 17:35] milen-sage commented on #285
Initially, we were thinking of having the project, dataset and data type/template selection be updated w/o having to press a button (same behavior as in the first screen of the app). As I recall @rrchai, it wasn't trivial to update selection on dropdown events, and you implemented the button click in the header selection update; the click is an easier event to catch.

If @rrchai thinks that "butto

[2022-02-25 22:32] rrchai opened #287 "Update metadata_model to incorporate new updates from schematic"
**Describe the bug**
Since data type is changed to list in `config.yml` from the latest updates on schematic, we need to change code reading config.yml in front-end.

**To Reproduce**
App will crash if it read data type as list without changes.

**Expected behavior**
Simply update `metadata_model.py`

**Priority** (select one)
- [x] Major 📢

[2022-02-25 23:11] #287 closed

[2022-02-28 19:00] afwillia commented on #268
@ychae This is done and addressed in the file data_curator/shinyapps_deploy.txt

[2022-02-28 19:03] afwillia commented on #267
@ychae This is done. We now know the app maxes at ~800MB memory per session and writes at most ~1.3GB to the disk.

[2022-02-28 19:07] afwillia commented on #268
@ychae done and addressed in this branch https://github.com/Sage-Bionetworks/dccvalidator/tree/read_schema_file_url

[2022-02-28 19:21] #268 closed

[2022-02-28 19:21] #267 closed

[2022-02-28 19:23] #241 closed

[2022-02-28 21:54] afwillia opened #291 "deplyoment retrospective before shinyapps.io launch"
Let's have a retrospective about current data curator app deployment and branch management for shiny server. Then plan improvements for shinyapps.io

[2022-03-01 17:43] milen-sage commented on #278
Add snippet to delete caches every time user logins to the app, as we discussed in CR. This will be tested in the shinyapps.io

[2022-03-01 17:55] allaway commented on #278
FYI: shinyapps.io storage is ephemeral. When the app sleeps or is redeployed, stored data is purged. https://docs.rstudio.com/shinyapps.io/Storage.html

So, this might not be an issue in shinyapps.io.

[2022-03-01 18:15] milen-sage commented on #278
Yep, we were discussing this - it will make the issue less poignant, however depending on deployment schedule and # users and app usage, it  sounds like may still create a problem.

[2022-03-01 18:31] ychae commented on #286
Link the related tickets here

[2022-03-01 18:34] lakikowolfe commented on #286
Related Issues:
#275
#276
#277

[2022-03-01 18:36] ychae commented on #266
@rrchai have HTAN develop and production apps pull from NCI HTAN's repo - in progress
@rrchai and @milen-sage will coordinate on create a template repo for "data models" under `Sage-Bionetworks`
Need to complete first three items in order to be able to fill in item 4:  updates on instructions

[2022-03-01 18:52] ychae commented on #174
In PR, rater systems is higher priority than the parallelization

[2022-03-07 22:34] afwillia commented on #278
@ychae we are going to shelve this because it won't be an issue with hosting on shinyapps.io. However, it may come up when we switch over to AWS.

[2022-03-07 22:36] afwillia commented on #237
renv isn't playing well with reticulate and python, so wait until the schematic/python dependency is removed before spending time on this.

[2022-03-08 17:51] afwillia commented on #291
@milen-sage @ychae let's discuss this at the documentation working session Thursday

[2022-03-08 17:57] rrchai opened #294 "Add schematic and schema versions"
Since the updates from schematic or data model do not always necessary require changes in DCA, add versions of schematic/schema can allow us to auto trigger the deployment and update schematic/data-models.

- [x] add schematic version to DCA config file (consider using schematic-service's version)
- [x] add schema version to DCA config file

[2022-03-08 18:11] lakikowolfe opened #295 "Auto generate config.json"

[2022-03-10 21:07] afwillia commented on #291
@ychae @milen-sage workflow draft https://docs.google.com/document/d/1z0DIN9rSoSoIaUttN1NMt7qImYMWhHC0QwO1WVPTvEQ/edit#

[2022-03-11 18:26] rrchai commented on #174
Blocked by this error with latest setup in shinyServer:

[code]

Need one more week to  make dashboard work again -> fix ^ issue and potential conflicts

[2022-03-11 19:40] afwillia opened #298 "In DCA use synapse/schematic REST API instead of python client"
The app uses several functions from the synapseclient module via reticulate. In an effort to eliminate the python/reticulate dependency, we're refactoring the app to use schematic's REST API instead of reticulate calls. The same will need to be done with synapseclient.

**How important is this feature?** Select from the options below:
• 🌗 Medium - it goes along with using the schematic REST API

*

[2022-03-11 21:11] afwillia commented on #298
I don't see any references to `tableQuery` or `get` in [server.R](https://github.com/Sage-Bionetworks/data_curator/blob/main/server.R) or sourced files. Maybe we don't need those.

`getUserProfile` and `is_certified` are only used during the loading screen. The user must be certified and then the welcome screen shows their name.

[2022-03-11 21:56] afwillia commented on #298
Addressed in #296 along with the schematic REST API wrappers.

[2022-03-14 22:52] afwillia opened #299 "Add tests"
**Is your feature request related to a problem? Please describe.**
Add more tests for the app, explore reactivity and recordings
https://shiny.rstudio.com/articles/testing-overview.html
https://shiny.rstudio.com/articles/server-function-testing.html
https://rstudio.github.io/shinytest/articles/shinytest.html

**How important is this feature?** Select from the options below:
• 🏝 Low - it's an enhan

[2022-03-15 14:22] #257 closed

[2022-03-15 14:23] #258 closed

[2022-03-15 14:24] #172 closed

[2022-03-15 14:26] milen-sage commented on #278
Closing for now and we can reopen/open a new issue as needed later.

[2022-03-15 14:30] milen-sage opened #300 "Deploy DCA with a toy data model in INCLUDE"
Let's deploy an instance of the DCA to shinyapps.io so that the INCLUDE team can customize it.

- [x] determine with the INCLUDE team, the GH org where we can create a fork of the DCA upstream Sage Bionetworks' repo

- [x]  deploy DCA instance configured with example data model to shinyapps.io, using new deployment process

- [ ] setup shinyapps.io account so that INCLUDE team members can administ

[2022-03-15 15:58] milen-sage commented on #300
Acceptance criteria: INCLUDE shiny app has been deployed on shinyapp.io using the documented deployment instructions.

[2022-03-15 15:58] milen-sage commented on #298
Acceptance criteria: calls to the Synapse client have been mapped to Synapse REST API calls.

[2022-03-15 15:59] milen-sage commented on #299
Acceptance criteria: test coverage is > 25%.

[2022-03-15 16:15] milen-sage opened #301 "Create a test Synapse account for DCA"
Could be a regular user account and we can share the username/password via lastpass shared with FAIR Data.

[2022-03-15 16:17] milen-sage commented on #301
Acceptance criteria: Synapse account created and shared via lastpass with FAIR Data.

[2022-03-15 17:15] #294 closed

[2022-03-15 17:28] rrchai commented on #279
Acceptance criteria - check all the items above.

[2022-03-15 17:30] rrchai commented on #265
https://sagebionetworks.jira.com/browse/IT-1728

[2022-03-15 18:16] afwillia commented on #300
@milen-sage who is on the INCLUDE team? Who will set up their GH repo?

[2022-03-15 18:24] rrchai commented on #298
@afwillia Thank you for making it work! I just have two things to add:
- `syn.get` is using in the dashboard. It is good to have this function work as well :)
- Does `syn.login` also have an endpoint already?

I am not familiar with API and I have another question regarding this issue:
Since the synapse already has the restAPI calls, [here](https://docs.synapse.org/rest/), I wonder if it can be us

[2022-03-15 18:32] rrchai commented on #298
Since the synapse already has the restAPI calls, [here](https://docs.synapse.org/rest/), I wonder if it can be used directly for httr?
ah, nevermind. I think it is what @afwillia has been implementing for the synapse functions.

[2022-03-15 18:36] afwillia commented on #298
@rrchai right, `syn.login` isn't necessary with the REST API calls because the authentication is passed with each request. I'll work on `syn.get` though!

[2022-03-15 18:38] rrchai commented on #298
@afwillia right, I see!  Thanks for clarification.

[2022-03-15 18:42] milen-sage commented on #300
@kjflynn does INCLUDE or even better the INCLUDE DMC have a github organization? If yes, we will fork the DCA repository there so that the code of the app can be customized and maintained for INCLUDE, e.g. by Pierrette. We've streamlined the app deployment, so it shouldn't be a big lift for Pierrette to update the app when we have new versions.

[2022-03-15 18:45] kjflynn commented on #300
hi @milen-sage yes its here: https://github.com/include-dcc. you appear to be a member!

[2022-03-15 18:46] milen-sage commented on #300
@kjflynn @afwillia be added with admin access?

[2022-03-15 18:52] kjflynn commented on #300
James should be adding him now, let me know if it doesn't work

[2022-03-15 22:29] milen-sage opened #302 "DCA dashboard: dataset submission benefit evaluation"
**Is your feature request related to a problem? Please describe.**
Currently the DCA dashboard shows users what dataset types they are missing, given what data they have already submitted and the schema requirements for that data. In the per project view/tab of the dashboard, the dashboard visualizes the missing requirements for each dataset in the project. A single missing dataset type (e.g. Mole

[2022-03-15 23:06] lakikowolfe commented on #275
- [ ] table showing dataset name and status
- [ ] table should be selectable (multiple at once)
- [ ] table should be filterable (ex: show only quarantined datasets)
- [ ] actionButton that initiates selection

[2022-03-16 22:07] afwillia commented on #300
App deployed to https://sagebio.shinyapps.io/include-dcc-data_curator-staging/. Waiting for IT to verify

[2022-03-18 17:53] jaybee84 opened #303 "Recreate the folder tree of a project as it appears on Synapse for selection of folders (instead of a dropdown list of all folders in a project)"
**Is your feature request related to a problem? Please describe.**

In many projects, where the data come in batches, the top level folder is appropriately labeled with a unique name but the nested subfolders may have non-unique names. For example :
Top level folder with unique name = `Univ_seqCore_batch1`
Nested subfolder with non-unique name = `raw_reads`
Top level folder with unique name = `Uni

[2022-03-18 19:16] allaway commented on #303
Also, thanks to @anngvu for the suggestion!! I think that this would really help users with complex project structures.

I am aware of some packages for using react components in Shiny, but I wonder if it would be feasible to use the SRC entity finder: https://sage-bionetworks.github.io/Synapse-React-Client/#/Other%20Components?id=entityfinder

[2022-03-18 21:43] afwillia commented on #300
IT has verified and the app is good to go!

[2022-03-22 20:18] #279 closed

[2022-03-24 00:54] milen-sage commented on #175
This has been resolved. We can open a new issue if there are other conflicts.

[2022-03-24 00:54] #175 closed

[2022-03-24 01:04] milen-sage commented on #272
Sounds like this has been resolved.

[2022-03-24 01:04] #272 closed

[2022-03-25 17:39] #300 closed

[2022-03-25 21:34] #276 closed

[2022-03-25 21:34] #275 closed

[2022-03-25 21:36] #301 closed

[2022-03-25 21:38] lakikowolfe commented on #277
Below the two selection modules. Maybe in a wellPanel?

- [ ] Radio buttons to select next release or quarantine
- [ ] submission button

[2022-03-28 17:36] afwillia commented on #298
I still don't see any references to `tableQuery` in the DCA code beyond defining it in [synapse_func_alias.py](https://github.com/Sage-Bionetworks/data_curator/blob/main/functions/synapse_func_alias.py) However, I think this is the synapse endpoint it will use https://rest-docs.synapse.org/rest/POST/entity/id/table/query/async/start.html

[2022-03-28 19:03] #277 closed

[2022-03-28 20:21] milen-sage opened #306 "Setup DCA instances for CSBC"
Following up on the INCLUDE dev and prod instances, let's create similar instances for CSBC.

It looks like these [instructions](https://github.com/Sage-Bionetworks/data_curator/blob/develop/shinyapps_deploy.md) are [aligned](https://github.com/Sage-Bionetworks/data_curator/blob/develop/shinyapps_deploy.md#specify-branches-to-push-to-which-instances) with the DCA deployment docs [here](https://doc

[2022-03-29 14:31] milen-sage commented on #298
@afwillia

This^ works for now, but when @linglp implements schematic's endpoint for getting dataset manifest let's switch to it. That way we can keep DCA a bit more Synapse agnostic and can do some manifest preprocessing, if needed, in schematic.

[2022-03-29 14:50] milen-sage commented on #306
- [ ] dev instance for CSBC instantiated in shinyapps.io
- [ ] prod instance for CSBC instantiated in shinyapps.io

[2022-03-29 14:56] milen-sage commented on #302
Acceptance criteria: a mock up or prototype of how users would be informed of their dataset submission options and benefits.

[2022-03-29 15:55] milen-sage commented on #255
Config file has been updated to match example data model. We can open a new issue to automatically generate the content of the config file based on the data model.

[2022-03-29 15:55] #255 closed

[2022-03-29 16:23] afwillia commented on #298
https://github.com/Sage-Bionetworks/data_curator/blob/c5ba8e72e7934033a03a6b56aff474908932777b/functions/dashboardFuns.R#L7 synStoreObj$storageFileviewTable

[2022-03-29 17:23] ychae commented on #306
@afwillia - needs more info into where to fork the repo, where should this be set up?
@milen-sage will contact Ashley Clayton

[2022-03-29 17:25] rrchai opened #307 "Enable to foresee the progress when they submit the missed requirements in the dashboard"
Provide a "dropdown" for now to list all missed the required data types. Update the completion progress on the tab1 of dashboard upon the user's selection.

With this feature, the users are able to see:
1. what data types they are missing; in some cases, they may just miss same data type for different datasets
2. new progress what if they submit any of missed requirements; it can encourage users t

[2022-03-29 17:29] rrchai opened #308 "Add internal-links checking to the validation in dashboard"
- [ ] test the cross-linkings function from https://github.com/Sage-Bionetworks/schematic/pull/614
- [ ] implement the feature to tab3 of dashboard

[2022-03-29 17:31] rrchai commented on #307
duplicated with #302

[2022-03-29 17:31] #307 closed

[2022-03-29 20:14] milen-sage commented on #306
@afwillia 1st version of the [CSBC data model](https://docs.google.com/spreadsheets/d/1hbG1vdi8a0gc-6psn5VgsBgyMl6IOhDSbHWDuC_8EXo/edit?usp=sharing) that can be converted to json-ld and used in the CSBC DCA app instance.

[2022-03-31 13:55] rrchai commented on #308
quote what @milen suggests:

ensure that in a manifest of type scRNA-seq Level 1 the attribute (i.e. column) HTAN Parent Biospecimen ID matches at least one value of HTAN Biospecimen ID in manifests of type Biospecimen
In the future, the HTAN team can add these validation rules to the schema.

In ^ case, let's test this validation rule on DCA:
[code]

[2022-03-31 14:04] rrchai commented on #308
To enable the ^ new validation rule on DCA:
- [ ] ensure the updated `validateModelManifest()` work as expected
- [ ] refactor a validation function in DCA to cope the changes: e.g.  `validateModelManifest()` now return two things: "error" and "warning. I think we just need first element (error) of output list in DCA
- [ ] test this validation rule to address ^ cross-linking test `matchAtLeastOne

[2022-03-31 14:18] rrchai opened #309 "Refactor the validation functions in DCA to incorporate changes from schematic"
- Incorporate backend updates from https://github.com/Sage-Bionetworks/schematic/pull/614
---

- [ ] Ensure the updated validateModelManifest() work as expected
 refactor a validation function in DCA to cope the changes: e.g. validateModelManifest() now return two things: "error" and "warning". I think we just need first element (error) of output list in DCA
- [ ] Test cross-manifest rules on HTAN

[2022-04-01 17:00] afwillia commented on #306
https://www.shinyapps.io/admin/#/application/5992584

[2022-04-01 21:09] #286 closed

[2022-04-04 16:54] milen-sage commented on #306
@afwillia @ychae how can the CSBC team access the admin side of the setup? Should we share lastpass credentials with them?

[2022-04-05 20:04] vpchung commented on #306
If it's easier, the credentials can be shared with just me for the time-being.

[2022-04-05 23:44] allaway opened #311 "Validation on attributes with `list` rule causes app to crash"
**Describe the bug**
When trying to validate a manifest in the data curator app the app crashes and I get this error:

[code]

I tried to generate a new manifest in one of our demo projects and validate that and it worked fine, and I don’t see that other users have had this issue in our logs, so I am guessing it’s something to do with the contents of this manifest or the dataset I’m using…

It app

[2022-04-05 23:54] allaway commented on #311
Oops, accidentally closed with a commit...

[2022-04-06 00:40] allaway commented on #311
I can confirm (using https://sagebio.shinyapps.io/NF_data_curator-staging/) that removing list validation patches this bug (but, of course, we want list validation :) )

[2022-04-06 01:11] rrchai commented on #311
@allaway
if you see this error: `Error in validationResult: object 'annotation_status' not found`, it is mostly likely because `validateModelManifest()`, [here](https://github.com/nf-osi/NF_data_curator/blob/c270d55edf530bca69b00848dd3e77a37295dfef/server.R#L287), from schematic failed running. I wonder if you run validation via schematic cli, would you see a bit more detailed errors?
[code]

I wi

[2022-04-06 03:37] allaway commented on #311
Thanks, Rong for the suggestion!
Oh yeah, good point, probably not related to #309 then.

I created a mini manifest to reproduce my error:
[code]

And, with config that has this section:

[code]

I then created a fresh conda environment with the latest `develop` version of schematic.

then  run:

```(scheamtic) ➜  temp schematic model -c ~/Desktop/temp/config.yml validate -mp ~/Downloads/testing.c

[2022-04-06 03:37] allaway commented on #311
I am going to transfer this issue to the `schematic` repository because, as you point out, this is a schematic issue probably.

[2022-04-06 16:49] afwillia commented on #306
@ychae @milen-sage The github repo is https://github.com/mc2-center/data_curator and the app has been deployed to
https://sagebio.shinyapps.io/csbc_data_curator_staging/. I shared the LastPass notes with @vpchung

[2022-04-06 16:49] #306 closed

[2022-04-07 17:51] milen-sage commented on #306
@ychae @vpchung  just fyi the plan is to deploy a production instance as well. Docs to come on how updates to the two instance work. These would be handled in separate issues.

[2022-04-07 18:52] afwillia opened #312 "Containerize DCA with schematic"
**Is your feature request related to a problem? Please describe.**
Create a container that users can install to run the app locally. Include schematic so that users don't need to install any dependencies.

**How important is this feature?** Select from the options below:
• 🏝 Low - it's an enhancement but not crucial for work

**When will use cases depending on this become relevant?** Select from t

[2022-04-11 21:44] ychae commented on #299
Touch base with @afwillia in Sprint 7 to capture additional details

[2022-04-11 22:08] ychae commented on #302
@rrchai are there any updates for this ticket? I see that you have a draft PR in progress and was wondering if there was anything else you needed?

[2022-04-11 22:10] ychae commented on #308
@rrchai would you be able to provide a brief update on this ticket? Thank you!

[2022-04-11 22:12] rrchai commented on #302
@ychae right, the draft PR is addressing this ticket. We will review the looking in that PR in our CR meeting tomorrow.

[2022-04-11 22:17] rrchai commented on #308
I have tested the new validation with Gianna's help. It needs to update in the backend:
- Add para to enable/disable GE, since GE is not happy with `reticulate`
- the cross-manifests rules running speed needs to be enhanced - will discuss in CR meeting tomorrow

[2022-04-11 22:25] ychae commented on #308
Okay that's great! @milen-sage [commented](https://github.com/Sage-Bionetworks/schematic/pull/614#issuecomment-1095647007) in the PR #614 and it'd be great to keep the conversation going there. Thanks for the quick update!

[2022-04-14 20:32] #302 closed

[2022-04-14 21:31] milen-sage opened #316 "DCA retrieves manifest for incorrect project"
**Describe the bug**
When selecting a project, data type template and folder, the app retrieves the dataset manifest for the wrong project.

**To Reproduce**
Steps to reproduce the behavior:

Select a project, dataset folder, and dataset type in the HTAN production app:

<img width="2443" alt="Screen Shot 2022-04-14 at 2 27 06 PM" src="https://user-images.githubusercontent.com/41303818/163479806-0

[2022-04-14 21:49] rrchai commented on #316
@milen-sage thanks for reporting, looking into it.

[2022-04-14 21:57] milen-sage commented on #316
Just confirming, it looks like the bug is in on the DCA's end.

schematic retrieves the right project's manifest from the CLI.

[2022-04-14 23:59] rrchai commented on #316
@milen-sage Although I didn't figure which changes cause this bug, but using the latest `schematic` solves the issue. I have updated the prod site and the example ^ now retrieves correct project:
<img width="537" alt="Screen Shot 2022-04-14 at 7 45 26 PM" src="https://user-images.githubusercontent.com/73901500/163495079-9de468ea-28c0-4538-9daf-e3ba9737019c.png">

[2022-04-15 00:59] rrchai commented on #295
To achieve this issue:
- [ ] I think we only need to figure out how to get all schema names and types
- [ ] if we would like to continue using display names

@milen-sage  what do you think the best way to get all schema names, from data models?

[2022-04-15 15:48] milen-sage commented on #316
Thanks @rrchai! @rrchai and @adamjtaylor would you mind testing if validation and submission (e.g. using CenterA's project) works as expected? We have been making some changes on the schematic 'develop' branch and just want to make sure things work as expected.

We are moving to a more structured release schedule next sprint, so you won't have to work on bleeding edge code in 'develop'.

[2022-04-15 16:46] adamjtaylor commented on #316
I'm not seeing the incorrect manifest issue now in the prod site.... Testing in CenterA validation was working but DCA then was suck at "submitting". This might be a user error on my behalf so I will try again later. @rrchai let me know if you see similar behaviour?

[2022-04-15 18:24] rrchai commented on #316
@adamjtaylor Thanks for catching this bug. There is one flag in the submit function missing in DCA. I just created a pr to fix:
- https://github.com/Sage-Bionetworks/data_curator/pull/318

[2022-04-15 19:07] rrchai commented on #282
Email might be a bit overwhelming for users. Let's do log message for now and it is used for debugging in shinyapps.io.

[2022-04-15 19:33] #282 closed

[2022-04-15 19:40] milen-sage commented on #316
@rrchai I left a [comment](https://github.com/Sage-Bionetworks/data_curator/pull/318/files#r851452775) on #318. It looks like you might need a minor change when passing the manifest_record_type (i.e. pass "both" as record type).

@adamjtaylor We can chat in more detail, but we introduced these options to gradually move away from creating entities for biospecimen and patients.  This change addresse

[2022-04-21 23:22] adamjtaylor commented on #316
Validating that this now seems fixed. I am able to validate and submit a manifest in a test project.

[2022-04-21 23:24] rrchai commented on #316
That is great. Thank you for testing! @adamjtaylor

[2022-04-22 00:58] milen-sage commented on #316
Thanks everyone! @ychae we might want to follow up on Jira?

[2022-04-22 01:19] ychae commented on #316
@milen-sage sounds good! I see that @adamjtaylor has already updated the folks on Slack and so I'll go ahead and update and close the Jira ticket. @milen-sage please close this ticket if all ACs have been met, thanks!

[2022-04-22 17:34] #316 closed

[2022-04-26 16:43] afwillia opened #321 "Sync schematic REST API endpoints"
@afwillia and @linglp and @rrchai sync up to make sure all of schematic's REST API endpoints have been added to the package. Include endpoints that the dashboard uses.

[2022-04-26 17:14] milen-sage commented on #299
Let's revisit this issue after we have our Shiny Apps meeting.

[2022-04-26 18:12] milen-sage commented on #295
@milen-sage point @rrchai to the schematic function that returns all data types defined within a given json-ld schema.

[2022-04-27 19:49] rrchai commented on #309
related to https://github.com/Sage-Bionetworks/schematic/issues/683:

Each row represents each invalid value with error in the UI error table, so "matchExactlyOne" might not be fit for the error table since entire column/attribute is invalid. Thus, we might consider "matchExactlyOne" errors as a separated error type, I could just highlight the invalid source attribute and throw its errors.

[2022-04-27 20:34] afwillia commented on #321
After talking to Lingling, add the following endpoints

- [ ] get_asset_view_table
- [ ] get_component_requirements

[2022-04-29 17:21] rrchai opened #324 "Package modules used in data curator app"
AC:
- [ ] start with small modules, like buttons, header-dropdown
- [ ] add dashboard modules which includes some js, D3js modules
- [ ] think about how to incorporate styling: import all stylings (ensure id/class name is unique) at once or hardcode styling each individual modules
- [ ] create themes/colors system, either using a separated package or directly modifying in scss/css files - the goal

[2022-04-29 17:29] rrchai opened #325 "Back to use renv to install r dependencies"
Our plan is to move away from `shinyapps.io` due to data privacy to our own shiny instance, where should be compatible with  `renv`. Using `renv` is faster and easier to manage r packages versions both locally and remotely.  Let's consider to change back to use `renv`.

[2022-05-04 23:19] ychae commented on #299
@afwillia I'd like to move this back into the backlog until the modularization is complete -- please let me know if that's okay.

[2022-05-04 23:31] ychae commented on #298
@afwillia can we confirm that all the REST API endpoints are available? And if they are, are all the necessary endpoints for the dashboard in place?

[2022-05-04 23:34] ychae commented on #324
@milen-sage please split these tasks into discrete tickets at the Monday 5/9 DCA refactor modules meeting

[2022-05-04 23:40] ychae opened #326 "Deploy DCA Staging App for CSBC"
**Describe the solution you'd like**
A staging DCA for CSBC

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save time or for convenience) - will be a blocker in a month

**When will use cases depending on this become relevant?** Select from the options below:
• Short-term - 2-4 weeks

AC:
A staging DCA that's been

[2022-05-05 17:18] afwillia commented on #299
@ychae Yes, that is great

[2022-05-05 17:24] afwillia commented on #298
@ychae Yes, all the endpoints in schematic's develop branch are available. But they haven't been added to the dashboard branch of DCA, yet.

[2022-05-09 20:24] afwillia commented on #326
The app URL is https://sagebio.shinyapps.io/csbc_data_curator_staging/ @ychae

[2022-05-09 20:25] afwillia commented on #326
We will need to update the schema used for this app

[2022-05-09 22:05] afwillia opened #328 "Research options for editable table for manifest"
**Describe the solution you'd like**
Add a table with similar functionality to the google sheet for manifest generation. A template with drop down items and editable table would be ideal.

- [x] Editable cells
- [x] Template values for cells
- [x] Dropdown menu for cells

**How important is this feature?** Select from the options below:
• 🏝 Low - it's an enhancement but not crucial for work

**Whe

[2022-05-10 17:00] rrchai commented on #308
I will need to restore the dashboard branch locally and add validation to tab3 after #309 is merged

[2022-05-10 17:00] rrchai commented on #295
The PR is created and can auto generate config.json - @rrchai will need further improved codes based on @milen-sage's suggestions.

[2022-05-10 17:20] linglp commented on #321
@afwillia  get_asset_view_table endpoint has already been merged to develop!

[2022-05-10 17:23] rrchai commented on #328
one existing example: https://github.com/Sage-Bionetworks/data_curator/issues/328

[2022-05-10 17:26] rrchai commented on #324
@rrchai can split into smaller tickets based on notes from the refactoring meeting.

[2022-05-10 18:11] ychae commented on #308
@GiaJordan

[2022-05-14 11:24] adamjtaylor opened #329 "Google spreadsheets produced by DCA are not owned by a service account"
**Describe the bug**
Google spreadsheets produced by DCA are owned by an individual staff members account rather than a service account. This has potential maintenance and security implications

**To Reproduce**
Steps to reproduce the behavior:
1. Go to HTAN production DCA
2. Load a template from any center and view in Google sheets
3. Note that spreadsheet was last edited by @rrchai
4. Check spre

[2022-05-14 11:49] adamjtaylor opened #330 "HTAN staging data curator app crashes during Google sheet link generation"
**Describe the bug**
A clear and concise description of what the bug is.

The staging instance of the [HTAN Data Curator App](https://sagebio.shinyapps.io/HTAN-data-curator-staging/) crashes with the error "Disconnected from the server" during the "Generating link" phase.

This bug is not present in the [production instance](https://sagebio.shinyapps.io/HTAN-data-curator/)

**To Reproduce**
Steps

[2022-05-16 17:06] adamjtaylor commented on #330
Possibly related to https://github.com/Sage-Bionetworks/schematic/issues/725

[2022-05-18 19:06] afwillia commented on #326
In order to create the production instance, I need to tag the repo's main branch. However, per Milen I will wait until the schematic metadata bug is resolved before releasing

[2022-05-18 19:06] #321 closed

[2022-05-18 19:56] rrchai commented on #309
## Editting:
I have run some tests on the cross-manifest testing (MatchAtLeast) using the latest schematic:
- [testing manifest](https://www.synapse.org/#!Synapse:syn29296703)
- [testing data model](https://github.com/ncihtan/data-models/blob/feature-cross-validation/HTAN.model.jsonld)
  - there is only one cross-manifest rule:
  ```"matchAtLeastOne scRNA-seqLevel1.HTANParentBiospecimenID Biospeci

[2022-05-19 16:29] allaway opened #331 "Unexpected app crash upon validation (Error in bind_rows: Can't combine `..1$Column` <integer> and `..2$Column` <character>.)"
**Describe the bug**
When I try to validate a manifest (attached [here](https://sagebionetworks.slack.com/archives/C01ANC02U59/p1652918321497479?thread_ts=1652914628.241799&cid=C01ANC02U59)) the DCA app crashes unexpectedly with the error `Error in bind_rows: Can't combine `..1$Column` <integer> and `..2$Column` <character>.`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sage

[2022-05-19 16:37] milen-sage commented on #309
@rrchai this is exactly the kind of benchmarking we need more of! My take aways from it:
- we'll need project scoping - and repeat the same benchmark with it
- very likely, we'll still need filtering based on component annotation - that would require adding the component annotation to HTAN dataset manifests retrospectively

@GiaJordan when you're back, what are your thoughts on project scoping rea

[2022-05-19 17:10] rrchai commented on #331
It should be something doing with this chunk of codes: https://github.com/Sage-Bionetworks/data_curator/blob/fa9386a675007296bb3758dd0c78825d41277381/functions/validationResult.R#L64-L66

I think it is because the types of values are not consistent. If you try to add as.character, like `Value = as.character(i[[4]][[1]])`, it might solve the issue. I can double check and address it in this repo tom

[2022-05-19 18:10] allaway commented on #331
Thanks Rong! I will try that!

[2022-05-20 16:21] allaway commented on #331
@rrchai, unfortunately, this doesn't appear to resolve the issue :(

[2022-05-20 18:25] GiaJordan commented on #309
@rrchai
In the development of this I noticed that when there were multiple manifests for a dataset, it would just take the first one and this wouldn't always be desired, so I added logic there for selection. It shouldn't affect datasets with only one manifest though.
The manifests currently on synapse will also need to have component annotations added either manually or by re-uploading for the exp

[2022-05-20 22:38] thomasyu888 opened #332 "Document questions to ask when deploying DCA in the cloud"
**Is your feature request related to a problem? Please describe.**
As an engineer that is deploying DCA in the cloud, I want to know the questions to ask to best determine where to deploy DCA.

**Describe the solution you'd like**
I have compiled a document [here](https://docs.google.com/document/d/19awiKsCE-lgRkWrOdjU96CIhi7jcQtcAK0XhMqj2Szg/edit#) listing out the questions to ask to determine th

[2022-05-23 22:45] allaway opened #333 "External storage upload causes app to hang"
**Describe the bug**
When annotating a dataset on external S3 storage, often we will be annotatting data where Synapse only has READ access to the bucket. The app/schematic will try to write the synapse_metadata_manifest file to the bucket, but it just sits there forever because we do not have bucket write access. The files are still successfully annotated, so this is a minor problem for us, since

[2022-05-24 00:32] ychae commented on #324
@rrchai I created a milestone to track this epic, it can be found here: https://github.com/Sage-Bionetworks/dcamodules/milestones/DCA%20Module%20Packetization

[2022-05-24 00:35] milen-sage opened #334 "DCA capture editable table specifications"
Document specifications for editable table alternative to google sheet manifest template.

AC: a document describing MVP feature-set for editable-table, allowing us to replace google sheets with the editable table alternative, for projects working w/ sensitive data. The feature-set and implementation specification should be sufficiently detailed to allow implementation.

[2022-05-24 00:43] milen-sage opened #335 "Harmonize DCA CI/CD github flows for INCLUDE, HTAN, CSBC"
All github workflows should be the same. Ideally they should follow the deployment described [here](https://docs.google.com/document/d/1z0DIN9rSoSoIaUttN1NMt7qImYMWhHC0QwO1WVPTvEQ/edit?disco=AAAAYu_UGxM), which is currently used in HTAN.

[2022-05-24 00:47] ychae commented on #309
@milen-sage I think the data liaisons might be able to help with this task -- ideally each liaison would add the component annotation for their centers but I'll need to float this idea by Ashley to see how keen the liaisons would be to take this on.

[2022-05-24 14:04] rrchai commented on #309
@GiaJordan @milen-sage By validating on only HTAN center A using the latest schematic (merged [701](https://github.com/Sage-Bionetworks/schematic/pull/701), the speed is amazing now.

<details>
<summary>validation results</summary>

[code]
</details>

Since there is no flag for project_scope using cli, I replace default value of [project_scope](https://github.com/Sage-Bionetworks/schematic/blob/14

[2022-05-24 16:34] GiaJordan commented on #309
@rrchai I'm not sure why there's different behavior for using the flag and chaning the default value. Does the master_fileview for both contain the CenterA project?

The warning for the unmet access restrictions is expected, though I suppose displaying a message that a censored version of the manifest will be downloaded instead would be helpful.

Very happy to hear about the times!

[2022-05-24 17:53] rrchai commented on #335
We could wait a bit for this PR #295 I am working on, where CI/CD will be modified. I should make the PR ready by next CR meeting and we could discuss about it.

[2022-05-24 18:03] rrchai commented on #308
This issued is dependent on #309.

[2022-05-24 18:26] rrchai commented on #309
@GiaJordan ah, you are right. I forgot to use the HTAN's fileview. I will re-test it.

[2022-05-24 18:27] milen-sage commented on #309
This might explain the speed up too. HTAN's fileview is larger.

[2022-05-24 19:36] rrchai commented on #309
## Test HTAN fileview

<details>
<summary>validation results</summary>

[code]
</details>

[code]

The speed is definitely faster by using project scope. I think 2 min averagely for me is okay to use and test on one/two cross-manifests validation. I notice the most time it takes on my end is querying the fileview table?
[code]
Since the DCA has already stored the synapseStorage object at the begin

[2022-05-24 20:08] rrchai commented on #309
@GiaJordan I tested the [develop-crossM-union-rule](https://github.com/Sage-Bionetworks/schematic/tree/develop-crossM-union-rule) branch:

1. using `"matchAtLeastOne Biospecimen.HTANBiospecimenID set"`:

It looks like it is validating individual values?

[code]

2. using `"matchAtLeastOne Biospecimen.HTANBiospecimenID value"`:

[code]

FYI: currently, the DCA will only extract the error list (4 el

[2022-05-24 20:11] milen-sage commented on #309
@rrchai yes, let's give reusing the fileview object a try! If this avoids the download time, it would be worth it for sure.

In this case it sounds like there are two items:

1. integration of the cross-manifest rule in the DCA and the dashboard
2. fileview object reuse in the dashboard

If the implementation of 2 doesn't affect 1 too much, you can start with 1 and then move on to 2.

On the other

[2022-05-24 21:53] GiaJordan commented on #309
@rrchai Thanks for the feedback. It will validate on the set or value level, but with either case it'll display which values are causing the invalidity. And while they've been switched to warnings, the format is still the same.

In response to the query being the limiting step currently, I added the project scope to the table query if one is provided. That should help to speed things up more. This

[2022-05-25 03:54] thomasyu888 opened #336 "Think about dependency scanning for vulnerabilities"
**Is your feature request related to a problem? Please describe.**
I've been thinking about security for our applications, and part of security is code or dependency scanning.  There is a package called oysteR that does this, so I created an renv environment for the application and scanned the dependencies.

Unsure if this will be required for compliance.

**Describe the solution you'd like**
Unsu

[2022-05-25 22:00] rrchai commented on #309
okay,  my internet issue has been fixed and the downloading speed is back to normal:

[code]
I retested the latest develop branch and downloading fileview table is not as slow as before with ^ speed 😄 :

## Using the latest develop branch:
[code]

## Using  [develop-crossM-union-rule](https://github.com/Sage-Bionetworks/schematic/tree/develop-crossM-union-rule) branch:
[code]

---
@GiaJordan Thank

[2022-05-25 22:33] GiaJordan commented on #309
@rrchai Thanks for the benchmarking and updates!
In the farther future, we'll likely experiment with converting the synapse storage object to a sentinel object that can be reused within one validation run. This would expedite the validation further in cases where multiple attributes use the cross manifest validation rule.

[2022-05-26 01:37] rrchai commented on #330
When I tested HTAN BU > archive > biospeciment, I could generate the link without the error
When I tested HTAN BU > archive > Bulk RNAseq level1, I could reproduce what @adamjtaylor was getting.

Here was the error:
[code]
It looks like the error affects the manifest that already has "filename" column.

I will try to re-deploy staging site and see this error will disappear with the latest schemati

[2022-05-26 02:11] rrchai commented on #330
Redeployment does not work. I could reproduce the error locally as well with the latest schematic. The production site was deployed on Mar 11 and last deployment was on May 13. I suspect there are some updates from schematic during this period to cause this error.

[2022-06-01 22:12] ychae commented on #273
@milen-sage @vpchung is this something that's still relevant to the CSBC work?

[2022-06-01 22:30] vpchung commented on #273
I'm not sure.  With the recent project restructure, I have kept the "datasets" as Folder entities.  I forget whether the DCA already has support for Dataset entities?  If so, should I start utilizing Datasets instead of Folders?

[2022-06-01 22:41] ychae opened #338 "Show user error message when they don't have access to the project/fileview"
**Describe the bug**
When I access a DCA where I don't have access to the underlying Synapse project/fileview I get an endless "Generating..." message in the dropdown values without knowing why it won't resolve.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sagebio.shinyapps.io/csbc_data_curator_staging/
2. Click on "Select Your Dataset" on the left
3. Dropdowns in Project, F

[2022-06-01 22:50] vpchung opened #339 "Incorrect Folders listed when selected Project does not have any Folders"
### **Describe the bug**
DCA assumes a project will have top-level folders readily available.  When a project does not have a top-level folder, the dropdown menu for **Folder:** does not properly reflect that.  It instead shows the folder names from the previously selected Project.  Some screenshots attached below.

### **To Reproduce**
Steps to reproduce the behavior:
1. Create/add a Synapse Proj

[2022-06-01 22:51] rrchai commented on #338
@ychae Thanks for reporting. I could reproduce the behavior at csbc staging, but it should not be the expected behavior. Can you point me where the codebase is?

[2022-06-01 22:53] ychae commented on #338
@rrchai of course! It's located here: https://github.com/mc2-center/data_curator

[2022-06-01 22:55] ychae commented on #338
I should note that I see the same behavior in this staging app as well: https://sagebio.shinyapps.io/include-dcc-data-curator-staging/

Codebase for that is here: https://github.com/include-dcc/data_curator

[2022-06-01 23:08] rrchai commented on #338
@ychae yep! There is something suspicious when reading the fileview storage and it is a bug. I will look into it later.

[2022-06-01 23:09] ychae commented on #338
@rrchai great, thank you!

[2022-06-02 21:19] afwillia opened #341 "Reconcile various accounts used for secrets"
The DCA deployment uses auth tokens from a variety of sources including:
- google api via schematic
- synapse credentials
- github pat
- OAuth client generation

Many of these are individual's account info and not a service account. Putting all this info in one spot will help future deployments and creation of service accounts.

[2022-06-02 22:17] afwillia opened #342 "Link to synapse table after upload does not work"
**Describe the bug**
After submitting a manifest to Synapse, a dialogue box pops up showing the synapse table with a clickable link. This link does not work.

**Priority** (select one)
- [x] Minor ⬇️
- [ ] Major 📢
- [ ] Critical 🆘

**Screenshots**
![image](https://user-images.githubusercontent.com/8195343/171747480-7998baf8-84c5-424b-b0e7-12d457ce5dae.png)

[2022-06-03 15:24] milen-sage commented on #273
@ychae this is still relevant and is at a level of an epic. The work hasn't been completed and there will be a couple of work items in schematic.

[2022-06-03 21:18] vpchung opened #343 "Use an Error page"
**Is your feature request related to a problem? Please describe.**
I was testing out changes on the CSBC/PS-ON DCA, and attempted to generate a template link to understand how the app works. However, something broke in the backend and I didn't notice right away because the error message was hidden under the "Generating link..." window:

![dca-error](https://user-images.githubusercontent.com/937797

[2022-06-07 01:34] milen-sage commented on #328
@ychae note this is research of options only.

AC: has identified candidate libraries for the checkbox-items above. We'd need to start a separate issue to capture requirements to implement this functionality in one of these candidate libraries.

[2022-06-07 01:50] milen-sage opened #344 "DCA and schematic REST API: research deployment in D&T AWS development account"

[2022-06-07 01:52] milen-sage commented on #344
AC: has coordinated with @thomasyu888  and has identified deployment steps for DCA and REST API docker containers in D&T AWS account.

[2022-06-07 17:26] afwillia commented on #328
I think this library https://github.com/ejbeaty/CellEdit combined with DT https://datatables.net/ will provide all of the functionality for editing tables in the app.

[2022-06-07 17:26] #328 closed

[2022-06-07 22:48] ychae commented on #335
@milen-sage I see that this is marked as done in the project board, does that mean that this be closed or should we hold off until the PR mentioned is merged?

[2022-06-07 22:49] #326 closed

[2022-06-07 22:50] ychae commented on #312
@afwillia I see that this is marked as done on the Project Board, would it be okay to close this ticket?

[2022-06-07 22:54] ychae commented on #298
@afwillia I see that this is marked as done on the Project Board, would it be okay to close this ticket? (I wish the project board would be bi-directional about this so that marking it done on the board translates to closing a ticket but that's an "upcoming feature" of project board beta...)

[2022-06-07 22:55] #291 closed

[2022-06-07 23:11] #312 closed

[2022-06-07 23:12] afwillia commented on #298
I think I prematurely marked this as complete. It's like 95% there but I still need to check if the dashboard functions.

[2022-06-08 23:01] ychae commented on #274
closing as the changes were deployed some time ago

[2022-06-08 23:01] #274 closed

[2022-06-08 23:52] #94 closed

[2022-06-08 23:56] #142 closed

[2022-06-09 15:11] milen-sage commented on #335
We have a couple of demos next week for INCLUDE and we don't want to disturb the working actions there anyway - that can wait.

But CSBC is fair game to update if needed.

@afwillia could you  take a look at PR above and if @rrchai is back next week sync up on how to test this CI/CD in CSBC? If @rrchai is not back next week, you can make a call whether to test in CSBC and wrap up gh actions if nee

[2022-06-13 22:24] afwillia commented on #344
After chatting with Tom, the best solution to test for our immediate needs is an EC2 instance with the service account. Can also test using Elastic Container Services to help with scalability.

[2022-06-13 22:43] thomasyu888 commented on #344
Just taking some notes here for my proposed solutions

1. Initially, leverage the service catalog provisioning http://sc.sageit.org/ and create multiple EC2 provisioned products (one for schematic, one for shiny) to become acquainted to the deployment of API services
2. To deploy a service that is more "public" facing, create multiple ec2s with application load balancers that allow you to host the

[2022-06-14 14:34] rrchai commented on #343
tracked in https://github.com/mc2-center/data_curator/issues/8

[2022-06-20 20:18] milen-sage commented on #308
@afwillia any updates here? Welcome back @rrchai! :)

[2022-06-20 20:22] milen-sage commented on #309
Looks like we just need to review a [PR](https://github.com/Sage-Bionetworks/data_curator/pull/347) and this will be ready to close?

[2022-06-20 22:11] afwillia commented on #344
I was able to create an EC2 instance with our service catalog and deploy the DCA and schematic containers to it. I can access DCA and schematic through my local browser after exposing the correct ports with [AWS SSM](https://docs.aws.amazon.com/systems-manager/latest/userguide/ssm-agent.html).

Next, we need to address Tom's second point above.

[2022-06-20 22:53] afwillia commented on #308
@milen-sage No, I don't have any updates for this, though I did review [Rong's PR](https://github.com/Sage-Bionetworks/data_curator/pull/347) for the dependent issue

[2022-06-20 23:20] ychae commented on #334
@afwillia would you have time this week to sync up on a working session? I'd like to get a brain dump on a google doc to start tracking all of this. @milen-sage is this something you should also be a part of?

[2022-06-20 23:28] afwillia commented on #334
@ychae yes I do!

[2022-06-21 16:27] GiaJordan commented on #309
@milen-sage can we then merge [#751](https://github.com/Sage-Bionetworks/schematic/pull/751) as well?

[2022-06-21 18:13] afwillia opened #348 "Increase instance size of shinyapps.io default"
Research if it's possible to set the default instance size from 1GB to at least 8GB.

[2022-06-21 18:13] #344 closed

[2022-06-21 20:09] afwillia opened #350 "Make apps on EC2 public facing"
We have determined how to run schematic and DCA containers on an EC2 instance, but they are only accessible on the user's local machine. Next, determine how to expose them so our team and collaborators have access.

[2022-06-27 20:26] afwillia commented on #334
https://docs.google.com/document/d/1xmCUsjAo3ouFzEhFtThQadaWLaC_x2CQilMZJ0r0q1o/edit google doc for specifications

[2022-07-05 14:28] rrchai commented on #308
The cross-manifests checking feature has been implemented to the dashboard.

[2022-07-05 14:30] rrchai commented on #174
@ychae I am still refactoring the codes of dashboard. I will update the progress this week.

[2022-07-05 16:28] milen-sage commented on #298
Let's close this issue since most of the work is done. @afwillia could you open an issue just for the remaining function.

[2022-07-05 16:28] #298 closed

[2022-07-05 16:33] milen-sage opened #352 "DCA and schematic REST API: D&T AWS deployment test"

[2022-07-05 16:48] milen-sage opened #353 "DCA and schematic REST API: scicomp deployment specification"
AC: stay in sync with Sage IT deployment requirements: if a requirement can be satisfied with small amount of work ( <1 hour) try to complete this sprint; otherwise start gh issues capturing deployment requirements that constitute larger amount of work to tackle in next sprints. Document the current state of deployment requirements at the end of the sprint.

[2022-07-05 16:49] milen-sage commented on #353
Continue syncing up with Sage IT.

[2022-07-05 16:49] milen-sage opened #354 "DCA and schematic: Shiny Server Pro deployment specification"
Shiny Server Pro is currently the only secure hosting service for apps in production that access/process PHI/PII. We don't know when a scicomp solution will be available - see #353. We do know that there are projects like VEOIBD that would contribute sensitive data soon (~Aug) so we'd like to be ready in case #353 is not resolved by then.

AC: DCA has been deployed or a deployment path has been fu

[2022-07-05 16:49] milen-sage commented on #354
Start syncing up with Sage IT.

[2022-07-05 23:31] afwillia commented on #354
Current procedures are documented on [jira](https://sagebionetworks.jira.com/wiki/spaces/IT/pages/2618359843/Deploy+a+Shiny+Application#Applications-that-are-exposed-to-sensitive-data)

[2022-07-06 19:13] adamjtaylor commented on #188
This also looks to have been the cause of the crash that HTAN Duke users were seeing as reported in [HTAN-92](https://sagebionetworks.jira.com/jira/servicedesk/projects/HTAN/queues/custom/1/HTAN-92)

[2022-07-06 21:35] afwillia commented on #354
Of note, we have not released a version of DCA that uses the Schematic REST API. @milen-sage for this interim state should we stick with the reticulate workflow? I am hesitant to roll out a new python workflow because we don't have access to the Shiny Server Pro.

[2022-07-06 22:03] ychae opened #356 "Editable Tables: Capture features that users currently expect"
**Is your feature request related to a problem? Please describe.**
Meeting outcome from issue #334

Capture all the features in Google Sheets that users currently use and need replicated in the editable table

- Dropdown values
- Required & Recommended column highlighting
- Drag values across rows
- Export to csv/excel
- Saving progress (use diff’s to minimize file size? For version 2)
- Condition

[2022-07-06 22:05] ychae commented on #356
Additionally, reach out to users such as @adamjtaylor and @brynnz22 about how they use the google sheet feature of DCA

[2022-07-07 17:28] afwillia commented on #353
@milen-sage and @afwillia have been talking with Sage IT as they investigate a new platform for shiny apps. Sage IT is aware that we are using Shiny Server Pro as an interim solution for apps that use sensitive data and they will let us know when a replacement is ready to test.

[2022-07-08 21:24] rrchai commented on #174
After the discussion with @milen-sage today, I will do some follow-up bug fixes and improvements on the validation tab.

[2022-07-11 20:57] afwillia opened #358 "Update dockerfile to speed up build"
Currently, the dockerfile takes 20+ mins to build, mostly because of R package installation. Considering building an image with all of these installed.

**How important is this feature?** Select from the options below:
• 🏝 Low - it's an enhancement but not crucial for work

**When will use cases depending on this become relevant?** Select from the options below:
• Mid-term - 2-4 months

[2022-07-11 23:33] milen-sage commented on #352
Let's prioritize the case where multiple DCA instances access one schematic instance: stress testing and benchmarking the schematic REST API performance with multiple concurrent requests.

This^ can wait - we likely won't need support for this case, at least for a while.

[2022-07-12 22:40] ychae commented on #335
@afwillia I see that this is marked as done on the project board, can this ticket be closed?

[2022-07-15 17:12] #354 closed

[2022-07-15 17:13] afwillia commented on #353
@ychae we are still waiting to hear back from IT on their new solution.

[2022-07-18 17:36] afwillia commented on #353
IT sent an email this morning saying it's likely AWS Fargate + ECS will be the solution moving forward.

[2022-07-18 20:11] rrchai opened #363 "Update workflow to use pip release to install schematic"
**Is your feature request related to a problem? Please describe.**
Since the schematic has stable flow for pip release, let's update our workflow to use pip release to install schematic and add a testing instance as well.

**Describe the solution you'd like**

From the discussion with @milen-sage, the ACs of this ticket:
1. Production site  -> tags of DCA + pip release of schematic
2. Staging site

[2022-07-18 20:52] afwillia opened #364 "Create a project-agnostic DCA demo"
**Is your feature request related to a problem? Please describe.**
- [ ] Create a project-agnostic demo instance for production version of DCA. Create the oauth client with IT.

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save time or for convenience)

**When will use cases depending on this become relevant?** S

[2022-07-18 20:54] afwillia opened #365 "Add a testing release of app to the github deployment workflow"
**Describe the solution you'd like**

- [x] We want to have 3 versions of the data curator app: release, staging, and testing. Release is deployed with a tag and schematic's pypi version. Staging is deployed without a tag and uses schematic's pypi version. Testing is pushed without a tag and uses schematic's develop branch (basically the current staging workflow).

- [x] Update the workflow file f

[2022-07-18 20:56] rrchai commented on #365
- first item is linked to #363

[2022-07-18 22:09] ychae commented on #353
@afwillia closing since the two teams' work are aligned and will continue to track the work in the #352 ticket

[2022-07-18 22:09] #353 closed

[2022-07-19 00:19] milen-sage opened #366 "User research on DCA dashboard UI"
AC: have setup and conducted user research meetings in the week of Jul 25.

[2022-07-19 16:14] rrchai commented on #339
Thanks for reporting.  Here are the things we need to update regarding this bug:
1. Display "no item" of folder dropdown when there is no folders in the selected project
2. When they generate the manifest, display warning message to notify the users, you don't have any folders - but still be able to generate manifest
3. During the validation, error messages of no selected folder should be properly

[2022-07-19 16:57] afwillia opened #367 "Use schematic's REST API in dashboard"
**Describe the solution you'd like**
Refactor the DCA dashboard code to use schematic's REST API calls instead of python/reticulate.

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save time or for convenience)

**When will use cases depending on this become relevant?** Select from the options below:
• Short-term -

[2022-07-19 17:55] ychae commented on #364
AC: app that you can access on shinyapps.io

[2022-07-19 17:57] ychae commented on #367
please enumerate the REST API calls

[2022-07-19 18:03] rrchai commented on #364
@milen-sage @afwillia
The current oauth client of this repo (`data_curator`) has the demo instance url configured, which is `https://sagebio.shinyapps.io/data_curator-demo`. We should not need to request another demo instance url for now, unless we need more.
FYI: This oauth client also accepts other two urls: `data_curator-testing` and `data_curator-testing2`.

One thing needed the demo instance

[2022-07-19 19:40] milen-sage commented on #364
@rrchai just confirming, we are not using these demo instances for features in development, and we can setup one of these urls with an app deployed with latest stable production code (both DCA and schematic); and make it project agnostic (e.g. as you indicated with an example fileview containing a couple of projects, datasets in each, etc.)?

[2022-07-20 22:06] vpchung opened #369 "MC2 DCA: Unable to validate PersonView manifest"
**Describe the bug**
Currently experiencing issues with validating a PersonView manifest.  To help with debugging, I reduced the manifest to a single row and received the following logs:

[code]

@brynnz22 was able to successfully validate the manifest using schematic CLI; ergo, the conclusion is that the error is with the DCA.

**To Reproduce**
1. Go to [the DCA](https://sagebio.shinyapps.io/csbc

[2022-07-20 22:06] vpchung commented on #369
Tagging @milen-sage @ychae as requested.  Thank you!

[2022-07-20 22:24] ychae commented on #369
@vpchung is this part of the July 31 CSBC deadline? or does this flow into MC2?

[2022-07-20 23:17] vpchung commented on #369
@aclayton555 may have the better answer, but I think in time for MC2?  We are okay with using the CLI for now, but we'd like our investigators to use the DCA.

[2022-07-20 23:36] aclayton555 commented on #369
@ychae  Re: deadline, we actually now have a no cost extension for CSBC/PS-ON through September to bridge us into MC2 (this is very recent, and I don't think this was in place before our last stakeholder meeting). That being said, we should aim to have this fixed by the end of August 2022, as the DCA is expected to be operational (i.e. tested and ready for external use) with the launch of MC2 (beg

[2022-07-20 23:37] rrchai commented on #369
@vpchung It is a familiar bug I recently encountered as well. It was due to the inconsistent value types from validation results and the `bind_rows()` will complain about that. A quick fix I think is to add this snippet to make all validation values to string type:

https://github.com/Sage-Bionetworks/data_curator/blob/6bc60d2465b81ec4eb426510ef466bb394fda05e/functions/validationResult.R#L81-L82

[2022-07-21 16:41] rrchai opened #370 "Invalid error messages for empty file"
**Describe the bug**

When no files uploaded, "out-of-date" error was shown.

**To Reproduce**

Steps to reproduce the behavior:
![empty-file-bug](https://user-images.githubusercontent.com/73901500/180268077-1647eba3-d4c8-4e44-8f09-30a707d52f55.gif)

**Expected behavior**

Should display empty file message

**Priority** (select one)
- [x] Major 📢

[2022-07-21 18:45] #369 closed

[2022-07-21 18:45] #370 closed

[2022-07-21 18:46] rrchai opened #372 "Replace readr with fread"
As developers of DCA, you probably have seen the below warning:

The warning is coming from when we try to add rownames to tibble (default output data's type from `readr::read_csv`). The rownames is currently used to match the spreadsheet row index with preview table row index.

While we could avoid using rownames in tibble or find a solution to avoid ^ warning, we could use `fread` instead to fur

[2022-07-25 17:34] ychae opened #375 "Review all secrets across all DCAs"
**Describe the bug**
Need to review all secrets and identify:

1. Time out of secrets and how do we update them
2. Who owns them (e.g. service accounts)
3. What types of secrets are currently stored

This is likely the cause of users logging in as themselves and seeing _someone else's username in the dashboard_

**To Reproduce**
Steps to reproduce the behavior:
Unknown yet, haven't been able to re

[2022-07-25 17:59] afwillia commented on #375
I just logged into the [data curator demo ](https://sagebio.shinyapps.io/data_curator-demo/)and saw my username in the dashboard as expected 🤔

[2022-07-25 18:33] ychae commented on #375
We've noticed that it tends to happen if two folks are using the same app at the same time, but we couldn't identify the exact sequence to get it to repro 😭

[2022-07-26 18:25] rrchai commented on #363
I think about the workflow again. My original thought was to make both `develop` and `main` trigger the deployment of `-staging` instance and the `-testing` pulls update from other feature branches.

I feel what @afwillia implemented in #360 is a better idea: `-staging` should be only pulls from `main` that is more stable branch than `develop`. Here is the developing workflows:

#### If we have a

[2022-07-26 20:29] afwillia commented on #363
@rrchai This makes sense to me and is in line with what @milen-sage described. I like the idea to test individual features locally before merging into the develop branch. If it's necessary to test individual feature branches on shinyapps.io, they can be deployed manually to a custom URL using the rsconnect package.

[2022-07-26 20:36] milen-sage commented on #363
Yes, this provides a bit more flexibility for people and also is potentially more robust since there are now two instances for testing. And the staging instance can be used to test schemas and other non-code related modifications before updating the production instance. Note that in our current deployment workflow we are restricting people a bit: any time they'd like to test a new schema version o

[2022-07-26 21:30] afwillia commented on #367
Schematic REST API endpoints:
- /storage/assets/tables
- /model/validate
- /model/component-requirements
- /storage/project/datasets

Synapse REST API calls
-synapse_get (https://rest-docs.synapse.org/rest/GET/entity/id.html)
-synapse_user_profile (https://rest-docs.synapse.org/rest/GET/user/id/certifiedUserPassingRecord.html)

@ychae @milen-sage I'm running into an issue with differences between

[2022-07-27 01:51] milen-sage commented on #367
Let's chat about it during the FAIR Data working session.

[2022-07-27 01:52] milen-sage commented on #367
@afwillia meanwhile could you post a pointer to the code around

[2022-07-27 15:46] afwillia commented on #367
https://github.com/Sage-Bionetworks/data_curator/blob/5ecf4841381d778ba543cb24b91fcc3164dd2ca9/R/synapse_rest_api.R#L57

and for easy reference here is the relevant [DCA dashboard code](https://github.com/Sage-Bionetworks/data_curator/blob/29c59580268bd19823b8d66c02e4edc6d58537a9/functions/dashboardFuns.R#L26)

[2022-07-27 16:27] rrchai commented on #367
To clarify the needs for current dashboard regarding the synapse's `get`:
1. The dashboard code needs the entity metadata (returned object from syanpsePythonClient) to retrieve the information about the manifest
2. The manifest should be downloaded and the downloading path should be able to acquire. So that the dashboard can further read the manifest and retrieve the data type from the "Component"

[2022-07-28 15:59] milen-sage commented on #334
@afwillia it looks like the set of features are captured in #356. Looks like the next step is to capture more detailed implementation requirements, specs. I.e. for each feature, what is the expected behavior in a bit more detail. For example, we have the feature around dragging values across rows. The corresponding user story/use case could be

Note how the use case here constrains the requirement

[2022-07-28 17:26] afwillia commented on #367
@rrchai yes, I didn't realize this until now, but the `datacurator::synapse_get` function only returns the synapse metadata and does not actually download the file. Looking at `syn.get`, the process to actually download the manifest is more complicated than I originally thought. I agree `synapse_get` will need some functionality similar to `syn.get(downloadFile=True)` to make it useful for the das

[2022-07-28 20:54] afwillia commented on #367
And the best way is to use the schematic rest api manifest/download endpoint

[2022-08-09 22:50] milen-sage commented on #366
Done - thanks to everyone who participated participating in the dashboard testing and user research

@jaybee84, @avanlinden, @clarisse-lau, @calkinsh !

Dashboard testing scenario is [here](https://docs.google.com/document/d/1Xrt-eT7vgyOkwWchkUfI4vI4AWuaURkhOgkODR7z-n0/edit).

First set of modifications based on user feedback are [here](https://docs.google.com/document/d/1Xrt-eT7vgyOkwWchkUfI4vI4A

[2022-08-09 22:51] #366 closed

[2022-08-10 01:04] ychae opened #377 "Change title of tabs to be more clear"
**Is your feature request related to a problem? Please describe.**
Two of the three dashboard tabs titles were confusing to the users as to what each section provided. @milen-sage @rrchai please add the new titles of the first two tabs to this ticket once they've been decided.

**Describe the solution you'd like**
Change the name of the first two tabs.
<img width="487" alt="Screen Shot 2022-08-09

[2022-08-10 01:09] ychae opened #378 "Change title of dropdown to make it more clear that the user is selecting a data type"
**Is your feature request related to a problem? Please describe.**
 Change dropdown title from "Choose a Data Type Template:" to "Choose a Data Type"

**Describe the solution you'd like**
Remove "Template" from title
<img width="500" alt="Screen Shot 2022-08-09 at 6 07 57 PM" src="https://user-images.githubusercontent.com/12868382/183788381-6d4503a2-ddb5-42d2-89c3-2eed9a5d2f46.png">

[2022-08-10 01:12] ychae opened #379 "Create 2 minute orientation video of dashboard"
**Is your feature request related to a problem? Please describe.**
Create a very high level screen capture video (1-2 minutes) of the Dashboard to show users where things are are located and the purpose of each tab and feature in the dashboard -- **this will be the last item for this milestone**.

[2022-08-10 01:19] ychae opened #380 "Remove first page of instructions in DCA"
**Is your feature request related to a problem? Please describe.**
Remove the very page of instructions in the DCA as they're outdated OR replace the text in the first page with a link to the Help Docs.

**Describe the solution you'd like**
Remove OR update first page of instructions in DCA.

<img width="1254" alt="Screen Shot 2022-08-09 at 6 19 14 PM" src="https://user-images.githubusercontent.co

[2022-08-10 01:22] ychae opened #381 "Dashboard Project Tab - Remove dataset progress bars"
**Is your feature request related to a problem? Please describe.**
The dataset progress bars within the Project Tab were confusing to users as they interpreted it as how much data was remaining to be uploaded rather than the metadata completion. So this visualization will be removed.

**Describe the solution you'd like**
Remove dataset progress bars
<img width="377" alt="Screen Shot 2022-08-09 at

[2022-08-10 01:30] ychae opened #382 "Project Tab: Update text in titles"
**Is your feature request related to a problem? Please describe.**
Update and move text under the project tab to make it clear what each section and visualization are trying to accomplish.

**Describe the solution you'd like**

- [ ] `Change title: Evaluate Submission -> Missing Data`
<img width="371" alt="Screen Shot 2022-08-09 at 6 25 37 PM" src="https://user-images.githubusercontent.com/1286838

[2022-08-10 01:32] ychae opened #383 "Project Tab: Expand one incomplete node from the beginning"
**Is your feature request related to a problem? Please describe.**
Users were unclear what the node tree was for under the first tab. It would be great to be able to have one incomplete metadata node be fully expanded so users can see the relationship visualized.

**Describe the solution you'd like**

Start with one branch expanded

<img width="632" alt="Screen Shot 2022-08-09 at 6 26 28 PM" src="

[2022-08-10 01:40] ychae opened #384 "`Selected Data Type` Tab: Update Text"
**Is your feature request related to a problem? Please describe.**
Update and move text in the `Selected Data Type` tab of the dashboard so that the purpose of each section is more clear to users

**Describe the solution you'd like**

- [ ] `Change title: Completion of Requirements for Data Type: ‘Biospecimen’ -> Requirements for Data Type X, where X is the display name (e.g. Biospecimen Tier 1  &

[2022-08-10 01:44] ychae opened #385 "`Selected Data Type` Tab: Flip the order of plots"
**Is your feature request related to a problem? Please describe.**
Swap the order of the plots on the Selected Data Type tab of the dashboard so that the force-directed viz is on the left and then the table of folders is on the right.

<img width="1495" alt="Screen Shot 2022-08-09 at 6 43 30 PM" src="https://user-images.githubusercontent.com/12868382/183792167-d232a418-f3af-4d74-8b99-86f3ed4a1eeb.

[2022-08-10 01:47] ychae opened #386 "`Selected Data Type` Tab: Update font in the force-directed diagram"
**Is your feature request related to a problem? Please describe.**
Change the font of the nodes and legend in the required data types diagram to match that of the rest of the dashboard.

**Describe the solution you'd like**
Change from serif font to sans serif font
<img width="682" alt="Screen Shot 2022-08-09 at 6 46 48 PM" src="https://user-images.githubusercontent.com/12868382/183792464-c9664098

[2022-08-10 18:03] ychae commented on #352
@afwillia Will work with DPE and IT to access D&T AWS account

[2022-08-10 18:06] ychae commented on #367
https://github.com/Sage-Bionetworks/schematic/pull/859 should unblock

[2022-08-10 18:48] ychae opened #387 "Clean up stale branches in DCA repo"

[2022-08-10 19:40] rrchai commented on #387
done!

[2022-08-10 19:40] #387 closed

[2022-08-11 17:34] ychae commented on #366
Recordings are [here](https://drive.google.com/drive/folders/1B9JZdDHtlXJTimIJDgupg2MovUlgj0hR)

Milestone tracking is [here](https://github.com/Sage-Bionetworks/data_curator/milestone/21)

[2022-08-11 18:59] #363 closed

[2022-08-11 21:30] #365 closed

[2022-08-18 17:10] #380 closed

[2022-08-18 17:10] #381 closed

[2022-08-18 17:11] #384 closed

[2022-08-18 17:11] #385 closed

[2022-08-18 17:11] #386 closed

[2022-08-18 17:11] #382 closed

[2022-08-18 17:12] #378 closed

[2022-08-18 17:27] rrchai opened #390 "`Dashboard`: Update texts and headers each tabs"
**Is your feature request related to a problem? Please describe.**
From the feedback, the titles are often ignored or distracted by more colorful widgets. Also, users might not be clear there are more tabs or how to navigate.

**Describe the solution you'd like**
1. Remove all titles and section subtitles to make app more simplify.
2. Update the tab switch button to make obvious and clear to users

[2022-08-18 17:34] rrchai opened #391 "`Dashboard`: Remove the checklist of tab2"
**Is your feature request related to a problem? Please describe.**
Due to duplicates and sake of space, the checklist can be removed. (but save the code of widget might used in the future)

**Describe the solution you'd like**
Replace with the instructions and steps instead - will check with @milen-sage about the words.

**When will use cases depending on this become relevant? Select from the opti

[2022-08-18 17:40] rrchai opened #392 "`Dashboard`: Update validation tab"
**Is your feature request related to a problem? Please describe.**
See below action items.

**Describe the solution you'd like**

- [x] If the manifest fails on validation with “out of data (wrong schema)” error, change to warnings as well.
- [x] If dataset folders does not contain any manifests, still list dataset name in the table with empty values for the different columns other than the "datas

[2022-08-18 23:18] afwillia commented on #367
done with this branch!
https://github.com/Sage-Bionetworks/data_curator/tree/schem-api-feat-ui

Had to modify the asset table endpoint to return a csv, so it's dependent on this branch of schematic https://github.com/Sage-Bionetworks/schematic/tree/develop-asset-view-table-csv

[2022-08-18 23:18] #367 closed

[2022-08-18 23:19] afwillia commented on #352
Update: schematic is running on an EC2 instance and DCA + dashboard works

[2022-08-24 22:51] brucehoff commented on #354
Please note that the Shiny Server Pro server IS a sci-comp hosted solution.  The above comment is misleading.  It makes it sound like there is not a sci-comp solution today.

[2022-08-25 16:57] afwillia commented on #342
Confirmed the link does work on firefox and safari on my mac.

[2022-08-25 16:57] #342 closed

[2022-08-25 20:49] afwillia commented on #364
Here is a mock fileview we can use for orientation. It currently has one project with a biospecimen template
https://www.synapse.org/#!Synapse:syn33715412/tables/

[2022-08-26 19:27] rrchai opened #393 "Validation passed, but disconnected during submission"
**Describe the bug**

We set the `restrict_rules=True` in the validation to avoid the conflicts between the `reticulate` of R and `great_expectation` of python, but we haven't added the restrictions for the submission related functions in DCA. It could be the reason why the validation passed, but submission failed.  See the example below:

There are two different validation results with or without

[2022-08-29 20:19] GiaJordan commented on #188
Following up on closure, annotation is skipped for deleted entities during the annotation process. Addressed with [#587](https://github.com/Sage-Bionetworks/schematic/issues/587) in [#871](https://github.com/Sage-Bionetworks/schematic/pull/871)
@adamjtaylor

[2022-08-29 21:22] #352 closed

[2022-08-29 21:49] milen-sage opened #395 "DCA setup and deployment for VEOIBD"
Deploy DCA on shinyapps.io, after we confirm with @calkinsh that VEOIBD's demo will use synthetic/non-PHI data.

[2022-08-29 21:50] milen-sage commented on #395
AC: DCA's test, staging and production instances have been deployed on shinyapps.io and tested.

[2022-08-29 23:01] milen-sage commented on #395
@calkinsh have provided a summary of the VEOIBD Synapse project setup [here](https://docs.google.com/document/d/1TmCO6hFQW98Ztq5qpnzCZRxvQtUjRWXFr69n0tLx_9s/edit)

[2022-08-29 23:29] milen-sage commented on #379
@rrchai I am not sure, but there might be something similar to [React Tour/JoyRide](https://www.smashingmagazine.com/2020/08/guide-product-tours-react-apps/) but for Shiny?

[2022-08-29 23:34] milen-sage commented on #188
And I believe this is part of schematic [22.08.1](https://github.com/Sage-Bionetworks/schematic/pull/877) on pypi.

[2022-08-30 00:10] milen-sage commented on #30
Let's keep this open in our backlog. The fix for #188 resolves partially this issue, however we do want to warn the user that they are trying to submit data for a different project or dataset.

[2022-08-30 16:44] #295 closed

[2022-08-30 17:27] milen-sage commented on #334
Recent progress is captured in [specification doc](https://docs.google.com/document/d/1xmCUsjAo3ouFzEhFtThQadaWLaC_x2CQilMZJ0r0q1o/edit)
- minimal requirements with some gaps are covered
- gaps in data tables are identified

Next steps: create individual issues for features that are available in DataTables and research alternatives for gaps.

[2022-08-30 17:53] rrchai commented on #364
Options:

1. Use the upstream data curator repo to deploy the demo instance:

   - [ ] Replace the mock-up schematic config (`schematic_config.yml`) by using demo (project-agnostic) configurations (fileview, data model etc.
   - [ ] Decide the instance site: https://sagebio.shinyapps.io/data_curator-demo` or add new url for the new demo instance (need to modify the client and re-verify)
   - [ ] U

[2022-08-30 18:17] #390 closed

[2022-08-31 02:29] milen-sage commented on #354
Thanks for the clarification @brucehoff. I always associated sci-comp with AWS services provided by Sage IT and didn't appreciate the Shiny Server Pro is part of the family there.

[2022-09-01 19:31] afwillia commented on #348
added to shinydeploy workflow using rsconnect::configure(..., size='xxxlarge')
https://github.com/Sage-Bionetworks/data_curator/commit/696246dd5d7f354575c7be61da88e514f27db5f6

[2022-09-03 00:26] #15 closed

[2022-09-03 00:27] #14 closed

[2022-09-06 14:40] #392 closed

[2022-09-06 14:40] #383 closed

[2022-09-06 14:40] #391 closed

[2022-09-07 13:15] rrchai opened #396 "Error: Unhandled Exception: Child Task 1216896843 error: Unhandled Exception: 599"
**Describe the bug**
It looks like `rsconnect` is not working to re-deploy the app. The first attempt of [this commit](https://github.com/Sage-Bionetworks/data_curator/actions/runs/2974396420/attempts/1) which changed to use `rsconnect::configureApp(appName = appName, size="xxxlarge")` was able to deploy successfully, but re-running the action failed to deploy the app ([failed attempts](https://gi

[2022-09-07 13:21] #253 closed

[2022-09-07 13:28] rrchai commented on #216
The new visualization implemented [here](https://github.com/Sage-Bionetworks/data_curator/pull/347) has clearer descriptions on the errors and the table of error is not using anymore. Thus, close this issue and we can create a new one on the new visualization to expand the row index if requested.

[2022-09-07 13:28] #216 closed, assigned to rrchai

[2022-09-07 13:32] rrchai commented on #393
The issue was actually due to submit the mixed type column as table. Check more details in this [schematic ticket](https://github.com/Sage-Bionetworks/schematic/issues/870). Closing this ticket since the restriction rules have been implemented in submission functions.

[2022-09-07 13:32] #393 closed

[2022-09-07 15:45] afwillia commented on #396
@rrchai I removed the size argument from `configureApp()` and the app successfully deployed on the first workflow run and a rerun. I'll look into this size option on another branch.

[2022-09-07 15:48] rrchai commented on #396
Thanks @afwillia . This issue is solved in this [commit](https://github.com/Sage-Bionetworks/data_curator/commit/00d589aeffef0774443f2fbb51fc2522874a5bb1).

[2022-09-07 16:20] afwillia commented on #396
I was hasty and left an unnecessary call to `configureApp()`. This [commit](https://github.com/Sage-Bionetworks/data_curator/commit/11a4ebd3df23f9e016df2ca17f220d77a6f293de) removes the extra call so that `deployApp()` is the last call.

[2022-09-07 16:40] rrchai commented on #396
Deployment is also working again in `feat-UI-dashboard`.

[2022-09-07 16:40] #396 closed

[2022-09-08 12:41] adamjtaylor commented on #188
Validating that this is fixed for HTAN

- Created [test-deleted-files](https://www.synapse.org/#!Synapse:syn35903908) folder in HTAN Center C
- Uploaded test file `IMG_2938 Large.jpeg` as [syn35903959](https://www.synapse.org/#!Synapse:syn35903959)
- Add second file to folder `IMG_2712 Large.jpeg` as [syn35906086](https://www.synapse.org/#!Synapse:syn35906086)
- Generated template in HTAN DCA stag

[2022-09-08 15:48] milen-sage commented on #188
Thanks @adamjtaylor - that's great news! Yes, we'll open a new issue for a 'warning enhancement'.

[2022-09-09 19:00] afwillia commented on #364
The [demo instance](https://sagebio.shinyapps.io/data_curator-testing2/) is up and running using the [example data model](https://github.com/Sage-Bionetworks/data-models) and a [mock fileview](https://www.synapse.org/#!Synapse:syn33715412/tables/). It's based on a new [demo-instance](https://github.com/Sage-Bionetworks/data_curator/tree/demo-instance) branch in the main DCA repo.

[2022-09-09 19:00] #364 closed

[2022-09-09 21:00] milen-sage commented on #364
Great!

@afwillia could you add the [FAIR Data synapse team](https://www.synapse.org/#!Team:3438869) as an admin to the demo [instance project](https://www.synapse.org/#!Synapse:syn33715357/files/)?

That way we can add users with the right permissions to the project and fileview; otherwise they'd see "Generating" in drop downs.

<img width="1338" alt="Screen Shot 2022-09-09 at 1 59 38 PM" src="ht

[2022-09-09 21:16] rrchai commented on #364
@afwillia and @milen-sage
Instead of keeping another life-long branch and different instances, how about making this repo as the project-agonistic data curator? I think it's the purpose of this repo and will be easier to maintain. Here are some minor remaining steps to achieve this:
- [ ] Update the `schematic_config.yml` to use demo project
- [ ] No need to use another instance or update workflow

[2022-09-12 14:41] milen-sage commented on #188
Will include^ in the issue.

[2022-09-12 21:24] #334 closed

[2022-09-12 21:36] afwillia commented on #395
A [testing instance](sagebio.shinyapps.io/veOIBD_data_curator_testing/) has been deployed

[2022-09-12 21:36] #395 closed

[2022-09-12 23:13] milen-sage opened #399 "DCA: avoid storing manifests as local files"
Currently, DCA stores csv files on the local file system before validating manifests and before submitting manifests to the asset store.

In addition, the DCA upcoming dashboard feature implementation saves manifests locally as well, when they are retreated from the REST API.

This makes horizontal scaling and load balancing more challenging, in the context of AWS deployment w/in Sage's production

[2022-09-13 00:17] milen-sage opened #400 "DCA: docker containers deployment passing environmental variables"
Currently the DCA and schematic read-in config variables from config files and some of the config information is stored as github secrets.

In the context of AWS deployment w/in Sage's production environment, we'd need to pass this information as environmental variables to the docker image running the DCA.

AC: have tested in our development EC2 instance, the DCA docker image runs without the need

[2022-09-13 00:25] milen-sage opened #401 "DCA: test deployment with updated REST API and docker containers"
Once changes from #399, #400,  https://github.com/Sage-Bionetworks/schematic/issues/899 and https://github.com/Sage-Bionetworks/schematic/issues/900,  are incorporated in DCA and schematic respectively, test the deployment in our EC2 development environment.

AC: docker container(s), reducing persistency (i.e. no use of local file system in DCA), and schematic's REST API updates are confirmed work

[2022-09-13 17:13] rrchai commented on #338
Related [ticket](https://github.com/Sage-Bionetworks/data_curator/issues/148)

[2022-09-13 17:18] milen-sage commented on #174
Next step for sprint 16: testing all projects for HTAN work for all three of the dashboard's tabs.

[2022-09-13 17:22] rrchai commented on #148
replaced by #338

[2022-09-13 17:22] #148 closed

[2022-09-14 17:25] afwillia commented on #400
Need to convert elements in config files to environmental variables.
[oauth_config.yml](https://github.com/Sage-Bionetworks/data_curator/blob/main/example_oauth_config.yml)

[schematic_config.yml](https://github.com/Sage-Bionetworks/data_curator/blob/main/schematic_config.yml)

[2022-09-15 18:11] afwillia commented on #401
[This issue](https://github.com/Sage-Bionetworks/schematic/issues/863) is relevant for dashboard functionality

[2022-09-15 18:22] afwillia commented on #350
Closing because we won't be using EC2 moving forward

[2022-09-15 18:22] #350 closed

[2022-09-15 18:22] #358 closed

[2022-09-15 18:23] afwillia commented on #358
Can try mounting a shared library https://rstudio.github.io/renv/articles/docker.html

[2022-09-15 18:23] #237 closed

[2022-09-16 18:56] afwillia commented on #399
I have this feature prototyped, just waiting for the `/model/submit` endpoint to be updated in the schematic develop branch so it can accept a JSON object instead of a file.

[2022-09-16 20:23] rrchai commented on #174
@milen-sage
I have tested all HTAN projects in the [demo](https://sagebio.shinyapps.io/data_curator-demo/), while most projects take <30s to load dashboard,  HTAPP and TNP-TMA take  ~ 6 min and ~1 min respectively.

We will need to further test when cross-manifest is incorporated - which will not be benefited from parallelization.

[2022-09-16 21:18] afwillia commented on #401
Successfully have the schematic REST API running from a container and DCA running on a container on the same EC2 instance. DCA can access all of the validation and submission endpoints. The dashboard functionality will be implemented after some updates to schematic.

[2022-09-16 21:19] afwillia commented on #401
Also, DCA is set configured with envrionmental variables, not config files. Though the workflow is still dependent on some files on the server.

[2022-09-16 21:19] afwillia commented on #400
Deployed this in a docker container locally and to EC2

[2022-09-20 15:50] rrchai opened #406 "Failed to load app in `shinyapps.io` - startup took too long"
**Describe the bug**
@milen reported when accessing to the app in `shinyapps.io`, it failed to load the app with below error.
I also experienced twice, especially trying to start the instance from the sleeping status.
[code]

Reloading the page can simply solve the issue, but not sure whether the cause of this error is from shinyapps.io server or app itself. It might be worth checking if moving so

[2022-09-20 18:17] rrchai opened #408 "Update to use fontawesome 6 names to syncs up with the latest `fontawesome` package"
**Is your feature request related to a problem? Please describe.**

It looks like the [fontawesome](https://github.com/rstudio/fontawesome/) package is updated to use fontawesome 6 - [latest release](https://github.com/rstudio/fontawesome/releases). The latest version of `fontawesome` will be installed via `shiny` package during the deployment. Thus, we will see some mismatched icon names when we

[2022-09-22 17:50] afwillia commented on #400
Done in this commit to the schematic-rest-api branch ://github.com/Sage-Bionetworks/data_curator/commit/8dfa63fc6fc26491b2b51f7617a710d64b36f13d

[2022-09-22 17:50] #400 closed

[2022-09-23 14:47] milen-sage commented on #401
@afwillia it sounds like at this point we have #400 resolved and also the app works with the REST API. Once #399 is done, are we at a point where we'll no longer need config files and manifests stored locally, so that we can pass for testing in the Fargate architecture (at least for core features, perhaps not the dashboard functionality)? Or are there other outstanding items?

[2022-09-23 17:03] afwillia commented on #401
@milen-sage we need to figure out what to do with `www/config.yml`. Maybe we can create it during the docker image build.

[2022-09-23 19:06] milen-sage commented on #401
Yes, since we have @rrchai script that auto generates www/config.yml, we should be able to do that now?

[2022-09-23 20:03] afwillia commented on #401
Yeah. I want to wait until the JSON updates for manifest/validate and manifest/submit are both merged into the schematic develop branch. Then once I confirm the DCA non-dashboard code works with that, I'll add the config.yml generation to the dockerfile. I think this can be done next sprint.

[2022-09-23 20:18] milen-sage commented on #174
It's great to hear that the dashboard works across the board for these projects though! Once we test cross-validation in the context of HTAN, following your PR merge, we'll be likely ready to release the feature. We should have this PR unblocked next week. So very likely the next release of the DCA will contain the dashboard - hopefully in the next week or so 🥳

[2022-09-23 22:06] afwillia opened #412 "Test schematic authentication in shinyapps deploy"
**Is your feature request related to a problem? Please describe.**
When deploying DCA to shinyapps.io, issues with schematic authentication may not be discovered until users interact with specific elements of the app. Testing the schematic calls that the app makes before deployment will ensure authentication works properly before release. This was brought up after launching DCA for VEOIBD. The app

[2022-09-23 22:25] milen-sage commented on #156
@allaway I think this should be resolved with newer versions of schematic and DCA. I'll close for now, but if you bump into anything similar in your testing of newer versions, we can reopen or open a new issue.

[2022-09-23 22:25] #156 closed

[2022-09-23 22:28] milen-sage commented on #226
This would have been an error in schematic working with the schema, but it should have been resolved in newer versions. Closing this issue until we see the bug resurfaces, if it does, in the future.

[2022-09-23 22:28] #226 closed

[2022-09-23 22:33] milen-sage commented on #147
Closing this issue since we've established branch naming conventions; have generic de-HTAN-ified documentation; and have templates for docs.

[2022-09-23 22:33] #147 closed

[2022-09-23 22:37] #165 closed

[2022-09-23 22:39] milen-sage commented on #110
We have increased the request limit on Google Sheets API side. We are no longer hitting this error.

[2022-09-23 22:41] milen-sage commented on #163
This is still a relevant thought! We are going through the DCA with the design team for UI improvements - we will see how to incorporate that user story.

[2022-09-23 22:43] milen-sage commented on #223
With the switch to shinyapps.io this has been resolved. We are also moving towards a more scalable app deployment w/in Sage IT's Fargate AWS architecture where this won't be an issue.

[2022-09-23 22:43] #223 closed

[2022-09-23 22:54] milen-sage commented on #273
Transferring to schematic's repo.

[2022-09-23 22:57] milen-sage commented on #281
With moving to shinyapps.io and increased memory we no longer have an urgent need here. With the subsequent multi-tenant deployment in Sage IT's Fargate-based architecture we no longer need to do that. The app will autoscale. Closing for now and can reopen anew if needed.

[2022-09-23 22:57] #281 closed

[2022-09-23 22:58] milen-sage commented on #285
Revisiting this as part of UX evaluation with design team.

[2022-09-23 23:08] milen-sage commented on #249
@afwillia closing this issue since we have others opened for that.

[2022-09-23 23:08] #249 closed

[2022-09-23 23:56] milen-sage commented on #375
Related to #341; partially redundant but has a specific instance of secret mishandling (likely resolved in latest releases of DCA, but will keep open to confirm).

[2022-09-23 23:58] milen-sage commented on #406
I've so far encountered this only with the dashboard demo app - but it is concerning. I'll consult with Sage IT around what part of shinyapps.io deployment could cause that.

[2022-09-27 15:29] milen-sage opened #413 "DataTables MVP implementation: scope milestone"

[2022-09-27 15:32] milen-sage commented on #413
MVP feature document is here:
https://docs.google.com/spreadsheets/d/1F7DYHe-z3-MKJ56Ce0g5WDaiqIklSFiLfLt4SnHuvMA/edit#gid=0

[2022-09-27 15:32] #413 closed

[2022-09-27 15:49] milen-sage opened #414 "DCA: expose downloading an Excel spreadsheet as a config and UI option"
Currently the 'Get Metadata Template' app module allows users to get a link to a Google sheet. Since we can't store PHI data on Google for some projects, instead we'd like to let users download an Excel spreadsheet.

AC: The type of spreadsheet template can be configured in the DCA as a config file parameter: either a Google sheet or an Excel spreadsheet. Depending on the config parameter the DCA

[2022-09-27 15:57] milen-sage commented on #414
@afwillia you can probably start progressing on the issue before @linglp is ready with [this function](https://github.com/Sage-Bionetworks/schematic/issues/932). But that's the schematic function call that would be relevant for your work.

[2022-09-27 15:59] milen-sage opened #415 "DCA: check how DataTables supports the features in the editable table UI MVP"
We've listed features that DataTables needs to support as MVP in #413. For each of the features in the MVP we'd need to check whether and how DataTable can be used to implement the desired functionality.

AC: for each DataTable feature in MVP, add implementation to development DataTable prototype module. Document which feature implementations require paid plug-in(s) and which may not be supported

[2022-09-27 17:08] milen-sage opened #416 "DCA: document Excel spreadsheet config and download option"
Related to #414 - document how the feature is configured and used.

AC:
- feature configuration  documentation on schema hub
- feature usage documentation in generic user-facing data ingress docs

[2022-09-29 18:59] afwillia commented on #399
Closed with https://github.com/Sage-Bionetworks/data_curator/commit/464b9f2ceb1604932e9a0211749e4baefcec5a8d

[2022-09-29 18:59] #399 closed

[2022-09-29 19:01] afwillia commented on #401
All of the relevant schematic endpoints have been updated to accept/return JSON in the develop branch. The DCA + schematic images have been rebuilt.

[2022-09-29 19:01] #401 closed

[2022-10-03 17:52] calkinsh opened #418 "DCA app disconnects from server when uploading biospecimen template"
**Describe the bug**
When the data contributor attempts to submit the csv biospecimen template file, the app disconnects from the server.  I have  experienced the same behavior when trying to submit the same file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to DCA VEOIBD App: https://sagebio.shinyapps.io/VEOIBD_data_curator_testing/
2. Go to the last tab (submission)
3. select biospec

[2022-10-04 14:45] rrchai commented on #406
<img width="991" alt="Screen Shot 2022-10-04 at 10 41 17 AM" src="https://user-images.githubusercontent.com/73901500/193849748-89e83788-d715-4dec-a36b-c9d60f6c28d7.png">

I can reproduce it when the dashboard-demo instance is initiated from sleeping status. I believe the cause is because there are more files to load in dashboard-demo instance.  I will move the loading/importing functions from `glo

[2022-10-04 19:57] rrchai commented on #406
I realize there are some schematic functions needed to load in `global.R`, otherwise the dashboard will not fail to run. So an alternative way is to increase the startup time in shinyapps.io.
<img width="1449" alt="Screen Shot 2022-10-04 at 1 48 04 PM" src="https://user-images.githubusercontent.com/73901500/193904227-3ce0a048-297f-4cd7-8695-e413e4d272b1.png">

I have increase to 120s and it solves